/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: MuseoSansCyrl, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: MuseoSansCyrl, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: BlissPro;
  src: url("../fonts/BlissPro.eot");
  src: url("../fonts/BlissPro.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro.woff") format("woff"), url("../fonts/BlissPro.ttf") format("truetype"), url("../fonts/BlissPro.svg#Open Sans Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansLight.eot");
  src: url("../fonts/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight.ttf") format("truetype"), url("../fonts/MuseoSansLight.svg#MuseoSansCyrl") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular.ttf") format("truetype"), url("../fonts/MuseoSansRegular.svg#MuseoSansCyrl") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSansMedium.ttf") format("truetype"), url("../fonts/MuseoSansMedium.svg#MuseoSansCyrl") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSansBold.ttf") format("truetype"), url("../fonts/MuseoSansBold.svg#MuseoSansCyrl") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansBlack.eot");
  src: url("../fonts/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBlack.woff") format("woff"), url("../fonts/MuseoSansBlack.ttf") format("truetype"), url("../fonts/MuseoSansBlack.svg#MuseoSansCyrl") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?w7ayh9");
  src: url("../fonts/icomoon.eot?w7ayh9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?w7ayh9") format("truetype"), url("../fonts/icomoon.woff?w7ayh9") format("woff"), url("../fonts/icomoon.svg?w7ayh9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-trophy:before {
  content: "\e963"; }

.icon-medal:before {
  content: "\e964"; }

.icon-confetti:before {
  content: "\e965"; }

.icon-logo .path1:before {
  content: "\e92f";
  color: black; }

.icon-logo .path2:before {
  content: "\e930";
  margin-left: -4.0947265625em;
  color: #00a99d;
  position: absolute;
  bottom: 0px;
  right: 0px; }

.icon-comments:before {
  content: "\e932";
  color: #00a99d; }

.icon-map_mark .path1:before {
  content: "\e933";
  color: #00a99d; }

.icon-map_mark .path2:before {
  content: "\e934";
  margin-left: -0.6552734375em;
  color: white; }

.icon-arrow_left:before {
  content: "\e935";
  color: #00a99d; }

.icon-Page1Copy2:before {
  content: "\e931";
  color: #00a99d; }

.icon-Page1Copy22:before {
  content: "\e961";
  color: #00a99d; }

.icon-Page1Copy23:before {
  content: "\e962";
  color: #00a99d; }

.icon-logo_min .path1:before {
  content: "\e936";
  color: black; }

.icon-logo_min .path2:before {
  content: "\e937";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path3:before {
  content: "\e938";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path4:before {
  content: "\e939";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path5:before {
  content: "\e93a";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path6:before {
  content: "\e93b";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path7:before {
  content: "\e93c";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path8:before {
  content: "\e93d";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path9:before {
  content: "\e93e";
  margin-left: -5.1669921875em;
  color: black; }

.icon-logo_min .path10:before {
  content: "\e93f";
  margin-left: -5.1669921875em;
  color: #00a99d; }

.icon-toy:before {
  content: "\e940"; }

.icon-bird:before {
  content: "\e941"; }

.icon-edit:before {
  content: "\e942"; }

.icon-play .path1:before {
  content: "\e943";
  color: #00a99d; }

.icon-play .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: white; }

.icon-star_active:before {
  content: "\e95f";
  color: #f5a623; }

.icon-star:before {
  content: "\e960";
  color: #dcdcdc; }

/* checkbox */
/* radio */
/* select */
.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #F6F6F6;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  cursor: pointer; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  background: #666;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.05); }

.jq-checkbox.disabled {
  opacity: 0.5; }

.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #F6F6F6;
  box-shadow: 0 0 0 0px transparent;
  -moz-box-shadow: 0 0 0 0px transparent;
  -webkit-box-shadow: 0 0 0 0px transparent;
  vertical-align: middle;
  cursor: pointer; }

.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  background: #666; }

.jq-radio.disabled {
  opacity: 0.5; }

.jq-file {
  width: 270px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em; }

.jq-file__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px Arial, sans-serif;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  background: #FFF; }

.focused .jq-file__name {
  border: 1px solid #5794BF; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif; }

.jq-file:hover .jq-file__browse {
  background-color: #E6E6E6;
  background-position: 0 -10px; }

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.disabled .jq-file__name {
  color: #888; }

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%; }

.jq-selectbox__select {
  height: 40px;
  padding: 10px 40px 0 15px;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #F5F5F5;
  -webkit-box-shadow: 0 0 2px 0px transparent;
          box-shadow: 0 0 2px 0px transparent;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: Arial, sans-serif; }

.jq-selectbox__select:hover {
  background: #F5F5F5; }

.jq-selectbox__select:active {
  background: #F5F5F5; }

.jq-selectbox.focused .jq-selectbox__select {
  background: #F5F5F5; }

.opened .jq-selectbox__select {
  border-color: #000; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: none; }

.jq-selectbox__dropdown {
  top: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1); }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 5px 10px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif; }

.jq-selectbox li.selected {
  background-color: #000;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #000;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #ccc;
  background: none; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  font: 14px/18px Arial, sans-serif;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* fancybox variables */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #FFF;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  /* overflow: hidden !important;*/
  width: auto; }

.fancybox-lock body {
  overflow: visible !important;
  height: auto; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #FFF;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    -webkit-background-size: 44px 152px;
            background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    -webkit-background-size: 24px 24px;
            background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* bootstrap style rebind */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
  color: #00a99d;
  text-decoration: none; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: inherit;
  color: #00a99d;
  text-decoration: none; }

.container-fluid > .navbar-header {
  margin-left: 0;
  margin-right: 0; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: none; }

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
    position: relative;
    padding-left: 45px; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important;
    padding-bottom: 20px; }
  .navbar-default.main__nav .navbar-toggle {
    position: absolute;
    left: -10px;
    top: -5px; } }

/* end bootstrap style rebind */
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  min-width: 320px;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-order: 1; }

.header__content {
  position: relative; }
  .header__content:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15px;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    height: 0.19em;
    background-color: #000; }
  .header__content_no-sep:after {
    content: none; }

.logo-box {
  display: block;
  padding-top: 1.25em;
  padding-bottom: 1.13em; }
  .logo-box:hover {
    text-decoration: none; }
  .logo-box__text {
    font-family: BlissPro, sans-serif;
    font-size: 0.75em;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0.35em;
    color: #000;
    padding-left: 0.13em;
    text-decoration: none; }
  .logo-box__icon {
    position: relative;
    display: inline-block;
    margin-top: -0.21em;
    font-size: 3em; }
  @media screen and (min-width: 1200px) {
    .logo-box__icon {
      font-size: 3.19em; } }

.cart {
  position: relative;
  display: block;
  float: right;
  width: 35px;
  margin-right: 0px;
  margin-left: 0.63em;
  padding-left: 0em;
  padding-right: 0em; }
  .cart.dropdown:hover .dropdown-menu, .cart.dropdown.active .dropdown-menu {
    opacity: 1;
    top: auto; }
  .cart .dropdown-toggle {
    display: block;
    width: 29px;
    height: 29px;
    background-image: url("../img/bucket.svg");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: contain;
            background-size: contain;
    margin-top: -1px; }
  .cart .dropdown-menu {
    display: block;
    top: -999px;
    opacity: 0;
    left: auto;
    right: 0;
    padding: 6px 10px 10px;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: left;
    color: #000;
    -webkit-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s; }
    .cart .dropdown-menu li {
      margin-top: 10px;
      margin-bottom: 5px; }
      .cart .dropdown-menu li a {
        padding-left: 0;
        padding-right: 0; }
        .cart .dropdown-menu li a:hover, .cart .dropdown-menu li a:focus, .cart .dropdown-menu li a.active {
          background-color: inherit;
          text-decoration: underline; }
  @media screen and (min-width: 1200px) {
    .cart {
      margin-left: 0; } }
  @media screen and (min-width: 768px) {
    .cart .dropdown-toggle {
      margin-right: 0;
      width: auto; } }

.location {
  position: relative;
  display: block;
  float: right;
  margin-right: 10px;
  margin-left: 10px; }
  .location.dropdown:hover .dropdown-menu, .location.dropdown.active .dropdown-menu {
    opacity: 1;
    top: auto; }
  .location .dropdown-toggle {
    display: block;
    min-width: 150px;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: left;
    color: #000; }
  .location .dropdown-menu {
    display: block;
    top: -999px;
    opacity: 0;
    left: auto;
    right: 0;
    padding: 6px 10px 10px;
    font-family: MuseoSansCyrl;
    max-width: 150px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: left;
    color: #000;
    -webkit-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s; }
    .location .dropdown-menu li {
      margin-top: 10px;
      margin-bottom: 5px; }
      .location .dropdown-menu li a {
        width: inherit;
        padding: 0;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; }
        .location .dropdown-menu li a:hover, .location .dropdown-menu li a:focus, .location .dropdown-menu li a.active {
          background-color: inherit;
          text-decoration: underline; }
  @media screen and (min-width: 1200px) {
    .location {
      margin-right: 0;
      margin-left: 1.25em; } }

.navbar__location .caret {
  width: 7px;
  height: 7px;
  border: none;
  margin-top: -5px;
  margin-left: 2px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar__logo-box {
  max-width: 12.5em; }

.navbar__phones {
  position: relative;
  float: left;
  max-width: 10em;
  margin-left: 0.63em;
  padding-top: 5px;
  font-family: MuseoSansCyrl;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #000; }
  .navbar__phones a {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000; }

.navbar__cart {
  position: relative;
  float: right;
  width: 35px; }
  .navbar__cart a {
    text-align: right; }

.navbar-nav {
  max-width: none;
  margin-left: 0;
  margin-right: 0; }

.navbar-collapse.in {
  overflow: inherit; }

.navbar-default.main__nav {
  background-color: #fff;
  border: none; }
  .navbar-default.main__nav .navbar-nav {
    padding-top: 10px;
    padding-bottom: 10px; }
    .navbar-default.main__nav .navbar-nav > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0.62em;
      padding-right: 0.62em;
      font-family: MuseoSansCyrl;
      font-size: 0.81em;
      font-weight: 500;
      letter-spacing: 0.9px;
      text-align: left;
      color: #000; }
      .navbar-default.main__nav .navbar-nav > li > a:hover {
        color: #00a99d; }
    .navbar-default.main__nav .navbar-nav > li.active > a {
      color: #00a99d;
      text-decoration: none; }
  .navbar-default.main__nav .navbar-toggle {
    margin-right: 0;
    margin-top: 14px;
    border: none;
    background-color: transparent !important; }
    .navbar-default.main__nav .navbar-toggle .icon-bar {
      background-color: #000; }
      .navbar-default.main__nav .navbar-toggle .icon-bar:nth-child(odd) {
        width: 70%; }
  .navbar-default.main__nav .navbar-toggle:hover, .navbar-default.main__nav .navbar-toggle:focus {
    background-color: none !important; }

@media screen and (min-width: 1200px) {
  .navbar-default.main__nav .container-fluid {
    padding-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  .navbar-default.main__nav .navbar-nav {
    max-width: 36.25em;
    margin-left: 0.63em; }
  .navbar-collapse {
    width: auto;
    padding-right: 0;
    padding-top: 3px; }
  .navbar__phones {
    margin-left: 1.25em; }
  .navbar__location {
    margin-top: 3px; }
  .navbar__cart {
    width: 27px;
    margin-bottom: 4px;
    margin-top: 3px; }
  .navbar__logo-box {
    padding-top: 1.1em; } }

@media screen and (max-width: 1200px) {
  .navbar__logo-box {
    float: left; }
  .navbar__phones {
    margin-left: 0; }
    .navbar__phones a {
      margin: 0 0 5px 0; }
  .navbar-nav {
    max-width: none;
    margin-left: 0;
    margin-right: 0; }
  .navbar__cart {
    position: absolute;
    right: 10px;
    top: 17px; }
  .navbar__location {
    position: absolute;
    right: 55px;
    top: 28px;
    margin-right: 0; }
  .navbar-default.main__nav {
    margin-bottom: 5px; }
    .navbar-default.main__nav .navbar-nav > li > a {
      padding-right: 0;
      padding-left: 0; }
  .navbar-collapse {
    padding-bottom: 15px; }
  .navbar-header {
    width: 100%; } }

.navbar-default.main__nav .navbar-toggle {
  margin-top: 27px; }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-default.main__nav .navbar-toggle {
    margin-top: 27px; }
  .navbar__location {
    top: 35px; }
  .navbar__cart {
    top: 22px;
    right: 20px; } }

@media screen and (max-width: 480px) {
  .navbar-header {
    padding-bottom: 30px; }
  .navbar__location {
    position: absolute;
    right: 15px;
    top: 70px;
    margin-right: 0; } }

.mob-phone {
  display: none;
  position: absolute;
  left: 0px;
  top: 67px;
  font-family: MuseoSansCyrl;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000; }
  .mob-phone a {
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    display: block;
    margin: 3px 0 3px 0; }

@media screen and (max-width: 767px) {
  .navbar-default.main__nav .navbar-toggle {
    margin-top: 20px; } }

@media screen and (min-width: 595px) and (max-width: 1200px) {
  .mob-phone {
    display: block;
    left: 18em;
    top: 20px; } }

@media screen and (max-width: 480px) {
  .mob-phone {
    display: block; }
    .mob-phone a + a {
      display: none; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.logo-box__text {
  font-size: 0.85em; }

footer {
  text-align: left;
  width: 100%;
  min-width: 320px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-order: 3; }
  footer .logo-box__text {
    font-size: 0.85em; }

.footer__content {
  border: solid 7px #00a99d;
  margin-bottom: 1em;
  margin-top: 3.2em;
  padding: 40px 30px 13px; }

.footer__logo-box {
  padding-left: 20px;
  padding-top: 0;
  margin-top: 5px; }

@media screen and (max-width: 767px) {
  .footer__logo-box {
    text-align: center;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 16px; } }

.address {
  display: block;
  position: relative;
  padding-left: 36px;
  margin-bottom: 30px;
  font-family: MuseoSansCyrl;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  color: #000; }
  .address__icon {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 29px; }
  .address:first-child {
    margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .address {
      width: 200px;
      left: 18px;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto; } }

.sun-nav {
  position: relative;
  margin-bottom: 0.63em; }
  .sun-nav__list {
    list-style: none; }
  .sun-nav__link {
    font-family: MuseoSansCyrl;
    font-size: 12px;
    font-weight: 700;
    line-height: 2.5;
    text-align: left;
    color: #000; }

.copyright {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 14px;
  font-family: MuseoSansCyrl;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #000; }
  @media screen and (max-width: 767px) {
    .copyright {
      padding-left: 0;
      text-align: center; } }

.payments {
  margin-bottom: 35px;
  text-align: center; }
  .payments img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 5px; }

body {
  font-size: 16px; }
  @media screen and (max-width: 1099px) {
    body {
      font-size: 15px; } }
  @media screen and (max-width: 992px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    body {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    body {
      font-size: 12px; } }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  padding: 0.31em 0 0.31em 0;
  font-family: MuseoSansCyrl;
  font-size: 1em;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #000; }

h1 {
  padding: 0.47em 0 0.94em 0;
  font-family: MuseoSansCyrl;
  font-size: 2.25em;
  font-weight: 900;
  line-height: 1.03;
  letter-spacing: 1px;
  text-align: left;
  color: #00a99d; }

h2 {
  padding: 0.47em 0 0.94em 0;
  font-size: 2em;
  line-height: 1.13em;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-align: left;
  text-transform: uppercase;
  color: #00a99d;
  font-family: MuseoSansCyrl; }

h3 {
  padding: 0.47em 0 0.94em 0;
  font-size: 1.63em;
  line-height: 1.13em;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-align: left;
  color: #00a99d;
  font-family: MuseoSansCyrl; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* bootstrap styles rebind */
/* eof bootstrap styles rebind */
/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

a {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none; }
  a:hover, a:focus {
    color: inherit; }

strong {
  font-weight: 700; }

.icon-girl {
  width: 4.06em;
  height: 6.56em;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .icon-girl_fix {
    margin-bottom: -1px; }
    @media screen and (max-width: 767px) {
      .icon-girl_fix {
        margin-bottom: 0; } }
  .icon-girl_fashion {
    background-image: url("../img/fashion-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }
  .icon-girl_smart {
    background-image: url("../img/smart-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }
  .icon-girl_classic {
    background-image: url("../img/classic-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }

.icon-bucket {
  display: inline-block;
  vertical-align: sub;
  width: 1.6em;
  height: 1.6em;
  background-image: url("../img/bucket_white.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1050px) {
    .icon-bucket {
      display: none; } }
  @media screen and (max-width: 767px) {
    .icon-bucket {
      display: inline-block; } }
  @media screen and (max-width: 399px) {
    .icon-bucket {
      display: none; } }

.slick-slider .slick-arrow.slick-prev, .slick-slider .slick-arrow.slick-next {
  position: absolute;
  top: 0%;
  margin-top: 3.13em;
  width: 1.88em;
  height: 3.13em;
  line-height: 4.81em;
  color: transparent;
  opacity: 0.3;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: none;
  background-color: #fff;
  z-index: 35; }
  .slick-slider .slick-arrow.slick-prev:before, .slick-slider .slick-arrow.slick-next:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.74em;
    border: solid #000;
    border-width: 0 0.19em 0.19em 0;
    display: inline-block;
    padding: 0.75em; }
  .slick-slider .slick-arrow.slick-prev:hover, .slick-slider .slick-arrow.slick-next:hover {
    opacity: 0.75; }

.slick-slider .slick-arrow.slick-prev {
  left: 0px; }
  .slick-slider .slick-arrow.slick-prev:before {
    left: 20%;
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }

.slick-slider .slick-arrow.slick-next {
  right: 0px; }
  .slick-slider .slick-arrow.slick-next:before {
    right: 20%;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }

@media screen and (max-width: 1300px) {
  .slick-slider .slick-arrow.slick-prev {
    left: 0em; }
  .slick-slider .slick-arrow.slick-next {
    right: 0em; } }

.slick-slider.experts__slider .slick-arrow.slick-prev, .slick-slider.experts__slider .slick-arrow.slick-next, .slick-slider.arrows-theme .slick-arrow.slick-prev, .slick-slider.arrows-theme .slick-arrow.slick-next {
  position: absolute;
  top: 3.13em;
  margin-top: 0em;
  padding: 0;
  width: 2.5em;
  height: 1.88em;
  line-height: 1;
  color: transparent;
  opacity: 0.75;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: none;
  background-color: #fff;
  z-index: 35; }
  .slick-slider.experts__slider .slick-arrow.slick-prev:before, .slick-slider.experts__slider .slick-arrow.slick-next:before, .slick-slider.arrows-theme .slick-arrow.slick-prev:before, .slick-slider.arrows-theme .slick-arrow.slick-next:before {
    position: absolute;
    top: 0%;
    margin-top: 0em;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 1.69em;
    color: #00a99d;
    border: none;
    font-family: 'icomoon' !important; }
  .slick-slider.experts__slider .slick-arrow.slick-prev:hover, .slick-slider.experts__slider .slick-arrow.slick-next:hover, .slick-slider.arrows-theme .slick-arrow.slick-prev:hover, .slick-slider.arrows-theme .slick-arrow.slick-next:hover {
    opacity: 1; }

.slick-slider.experts__slider .slick-arrow.slick-prev, .slick-slider.arrows-theme .slick-arrow.slick-prev {
  left: -3em; }
  .slick-slider.experts__slider .slick-arrow.slick-prev:before, .slick-slider.arrows-theme .slick-arrow.slick-prev:before {
    content: "\e935";
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: rotate(0); }

.slick-slider.experts__slider .slick-arrow.slick-next, .slick-slider.arrows-theme .slick-arrow.slick-next {
  right: -3em; }
  .slick-slider.experts__slider .slick-arrow.slick-next:before, .slick-slider.arrows-theme .slick-arrow.slick-next:before {
    content: "\e931";
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: rotate(0); }

.slick-slider.arrows-theme .slick-arrow.slick-prev, .slick-slider.arrows-theme .slick-arrow.slick-next {
  background-color: transparent; }

.slick-slider.colors-slider .slick-arrow.slick-prev, .slick-slider.colors-slider .slick-arrow.slick-next {
  top: 50%;
  margin-top: -0.94em; }
  .slick-slider.colors-slider .slick-arrow.slick-prev:before, .slick-slider.colors-slider .slick-arrow.slick-next:before {
    font-size: 1.56em; }

.slick-slider.colors-slider .slick-arrow.slick-prev {
  left: 0em; }

.slick-slider.colors-slider .slick-arrow.slick-next {
  right: 0em; }

.slick-slider.colors-slider .slick-arrow.slick-disabled {
  opacity: 0.2; }
  .slick-slider.colors-slider .slick-arrow.slick-disabled:hover {
    opacity: 0.2;
    cursor: auto; }

.slick-slider.slick-vertical .slick-arrow.slick-prev, .slick-slider.slick-vertical .slick-arrow.slick-next {
  top: auto;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-left: -0.94em;
  height: auto;
  width: 1.88em;
  -webkit-border-radius: 100%;
  border-radius: 100%; }
  .slick-slider.slick-vertical .slick-arrow.slick-prev:before, .slick-slider.slick-vertical .slick-arrow.slick-next:before {
    font-size: 1.69em; }

.slick-slider.slick-vertical .slick-arrow.slick-prev {
  left: 50%;
  top: 0; }
  .slick-slider.slick-vertical .slick-arrow.slick-prev:before {
    content: "\e961";
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: rotate(0); }

.slick-slider.slick-vertical .slick-arrow.slick-next {
  right: auto;
  bottom: 0; }
  .slick-slider.slick-vertical .slick-arrow.slick-next:before {
    content: "\e962";
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform: rotate(0); }

.slick-slider.product-slider-nav .slick-slide {
  opacity: 0.5;
  position: relative;
  cursor: pointer; }
  .slick-slider.product-slider-nav .slick-slide.slick-current {
    opacity: 1; }
    .slick-slider.product-slider-nav .slick-slide.slick-current img {
      border: 2px solid #00a99d; }
  .slick-slider.product-slider-nav .slick-slide.with-video_1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0em;
    margin-top: 0em;
    width: 100%;
    height: 100%;
    background: transparent url("../img/play.svg") center center no-repeat;
    -webkit-background-size: 2em 2em;
            background-size: 2em 2em;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.separated-row {
  position: relative;
  clear: both;
  float: none; }
  .separated-row:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: -webkit-calc(100% - 1.88em);
    width: calc(100% - 1.88em);
    height: 1px;
    background-color: #000; }

.separated {
  border-bottom: 1px solid #000; }

.separator {
  position: relative;
  clear: both;
  float: none;
  margin-bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

.lighter {
  font-weight: 300;
  text-shadow: 0 0; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin-top: 114px; }

/* bootstrap defauls */
.container-fluid {
  max-width: 1215px; }

hr {
  height: 0px;
  margin: 0 0 0 0; }

.col-sm_no-right_pad {
  padding-right: 0; }

.col_fix_pad_wrap {
  margin-left: -8px;
  margin-right: -8px; }

.col_fix_pad {
  padding-left: 8px;
  padding-right: 8px; }

/* eof bootstrap defauls */
.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 185px;
  margin-top: 0em;
  padding: 1em 1.88em 1em 15.5%;
  border: solid 7px #f6a623;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 4px; }
  .banner:hover {
    text-decoration: none; }
    .banner:hover .banner__title {
      text-decoration: underline; }
    .banner:hover .banner__descr {
      text-decoration: none; }
  .banner__title {
    display: inline-block;
    font-family: 'MuseoSansCyrl';
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .banner__tag {
    margin-top: -0.77em;
    margin-bottom: 0.77em;
    font-family: MuseoSansCyrl;
    font-size: 0.81em;
    font-weight: 500;
    line-height: 1.23;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: left;
    color: #00a99d; }
  .banner__descr {
    font-family: MuseoSansCyrl;
    font-size: 1.13em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    max-width: 900px; }
  .banner__icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
    width: 15.53%;
    font-size: 4.25em;
    text-align: center; }
  @media screen and (max-width: 1200px) {
    .banner {
      margin-top: 20px; } }
  @media screen and (max-width: 767px) {
    .banner__icon {
      margin-top: -0.5em;
      font-size: 2.88em; } }
  @media screen and (max-width: 500px) {
    .banner {
      padding: 5em 1.88em 0.94em 1.88em; }
      .banner__icon {
        left: 0;
        top: 0.44em;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.22em; } }

@media screen and (max-width: 1200px) {
  .main-page .banner {
    margin-top: 0; } }

.latest {
  position: relative;
  padding-top: 1.88em;
  padding-bottom: 0.63em; }
  .latest__item {
    position: relative; }

.product-prev {
  display: block;
  position: relative;
  max-width: 500px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto; }
  .product-prev_types {
    margin-top: 55px; }
    .product-prev_types .product-prev__img-box img {
      width: auto;
      display: block; }
  .product-prev__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding-top: 20px; }
    .product-prev__wrap [class^="col-"], .product-prev__wrap [class*="col-"] {
      float: none; }
      @media screen and (min-width: 768px) {
        .product-prev__wrap [class^="col-"], .product-prev__wrap [class*="col-"] {
          margin-left: -0.2em; }
          .product-prev__wrap [class^="col-"]:first-child, .product-prev__wrap [class^="col-"]:nth-child(3n+0), .product-prev__wrap [class*="col-"]:first-child, .product-prev__wrap [class*="col-"]:nth-child(3n+0) {
            margin-left: 0; } }
  .product-prev__img-box {
    display: block;
    height: 17.65em;
    margin-top: 1.25em;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden; }
    .product-prev__img-box img {
      max-width: 100%;
      width: 231px; }
  .product-prev__brand {
    display: block;
    margin-bottom: 0.7em;
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #00a99d;
    text-transform: uppercase; }
    .product-prev__brand a {
      color: #00a99d; }
  .product-prev__title {
    display: block;
    margin-bottom: 0.61em;
    font-family: MuseoSansCyrl;
    font-size: 1.74em;
    font-weight: 900;
    line-height: 1.14;
    text-align: left;
    color: #000; }
  .product-prev__descr {
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.38;
    letter-spacing: 1px;
    text-align: left;
    color: #000; }
  @media screen and (max-width: 767px) {
    .product-prev__img-box {
      width: auto;
      max-width: 100%;
      height: auto; }
      .product-prev__img-box img {
        width: auto; } }

.brands__slider {
  padding-left: 2.5em;
  padding-right: 2.5em; }

.brands__item {
  width: -webkit-calc(25% - 15px);
  width: calc(25% - 15px);
  margin-right: 7px;
  margin-left: 8px; }

.brands__img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 150px;
  text-align: center;
  border: solid 1px #dcdcdc; }
  .brands__img-box img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .brands__img-box img.brands__img_noordi {
      width: 259px;
      height: 90px; }
    .brands__img-box img.brands__img_anex {
      width: 144px;
      height: 94px; }
    .brands__img-box img.brands__img_tutek {
      width: 74px;
      height: 84px; }
    .brands__img-box img.brands__img_navington {
      width: 235px;
      height: 55px; }
  .brands__img-box:hover {
    border-color: #f6a623; }

.brands__text {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #000; }

.post-preview {
  margin-top: 2.19em;
  margin-bottom: 0.31em; }
  .post-preview_marg-bot {
    margin-bottom: 1.25em; }
  .post-preview_no-marg-bot {
    margin-top: 0; }
  .post-preview_less-marg-top {
    margin-top: 10px; }
  .post-preview_main {
    margin-bottom: 1.67em; }
    .post-preview_main .post-preview__img-box {
      margin-bottom: 1.25em; }
    .post-preview_main .post-preview__tag {
      padding-top: 0.77em;
      margin-bottom: 0px; }
    .post-preview_main .post-preview__title {
      margin-top: 0.25em;
      font-size: 2em;
      font-weight: 500; }
  .post-preview__img-box {
    position: relative;
    display: block;
    cursor: pointer;
    margin-bottom: 0.44em; }
    .post-preview__img-box_has-video:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0em;
      margin-top: 0em;
      width: 100%;
      height: 100%;
      background: transparent url("../img/play.svg") center center no-repeat;
      -webkit-background-size: 4.25em 4.25em;
              background-size: 4.25em 4.25em;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .post-preview__img-box_has-video:hover:after {
      background-color: rgba(0, 0, 0, 0.3); }
    .post-preview__img-box img {
      position: relative;
      display: block;
      width: 100%;
      max-width: 100%; }
    .post-preview__img-box iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0; }
    .post-preview__img-box.active_has-video:after {
      content: none; }
    .post-preview__img-box.active iframe {
      z-index: 1;
      opacity: 1; }
  .post-preview__tag {
    display: block;
    margin-top: 1.08em;
    margin-bottom: -5px;
    font-size: 0.78em;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 0.12em;
    text-align: left;
    text-transform: uppercase;
    color: #00a99d; }
    .post-preview__tag a {
      color: #00a99d; }
    .post-preview__tag_margin-top {
      margin-top: 2.15em; }
    .post-preview__tag_margin-bigger {
      margin-top: 2em; }
  .post-preview__title {
    display: block;
    margin-top: 6px;
    padding-top: 8px;
    font-size: 1.12em;
    line-height: 1.28;
    font-weight: 300;
    text-shadow: 0 0;
    text-align: left;
    color: #000; }
    .post-preview__title a {
      color: #000; }
  .post-preview__about {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-top: 23px; }
  .post-preview__ava {
    display: inline-block;
    width: 2.94em;
    margin-right: 0.81em;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
    .post-preview__ava img {
      max-width: 100%; }
  .post-preview__autors-name {
    display: inline-block;
    font-family: BlissPro;
    font-size: 0.81em;
    text-align: left;
    color: #000; }
  .post-preview__comments {
    min-width: 40px;
    margin-left: 3px;
    font-family: BlissPro;
    font-size: 0.81em;
    line-height: 1.54em;
    text-align: left;
    color: #00a99d; }
    .post-preview__comments .icon {
      vertical-align: middle;
      margin-left: 0.35em;
      font-size: 1.54em; }
  @media screen and (max-width: 1023px) {
    .post-preview__ava {
      margin-right: 0.41em; }
    .post-preview__comments .icon {
      margin-left: 0.17em; } }
  @media screen and (max-width: 991px) {
    .post-preview__ava {
      display: none; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .post-preview__ava {
      display: inline-block; } }

.posts {
  margin: 50px auto;
  border-bottom: 1px solid #000; }
  @media screen and (max-width: 767px) {
    .posts {
      padding-bottom: 20px; } }

.advices__item {
  position: relative;
  display: block;
  margin-top: 2.5em;
  margin-bottom: -1px;
  border-bottom: solid 1px #dcdcdc; }
  .advices__item_first {
    margin-top: 1.88em; }
  .advices__item_last {
    border-bottom-color: #000; }

.advices__icon {
  position: absolute;
  left: 0.1em;
  bottom: -2px;
  font-size: 6.5em;
  width: 0.63em;
  height: 1.01em;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }
  .advices__icon_fashion {
    background-image: url("../img/fashion-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }
  .advices__icon_smart {
    background-image: url("../img/smart-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }
  .advices__icon_classic {
    background-image: url("../img/classic-girl.svg");
    -webkit-background-size: contain;
            background-size: contain; }
  .advices__icon .icon-girl {
    display: none; }

.advices__bubble {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.13em;
  margin-left: 6.25em;
  padding: 0.75em 1em 1.06em 1em;
  min-height: 10.94em;
  color: #fff;
  background-color: #f6a623; }
  .advices__bubble:before {
    content: '';
    position: absolute;
    bottom: 45%;
    left: -1em;
    width: 0;
    height: 0;
    border-bottom: 1em solid #f6a623;
    border-left: 1em solid transparent; }

.advices__text {
  font-size: 1em;
  font-weight: 400;
  text-shadow: 0 0;
  line-height: 1.19;
  text-align: left;
  color: #fff; }

.advices__link {
  padding-top: 1.25em;
  font-size: 1em;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.19;
  text-align: left;
  color: #fff;
  text-decoration: underline;
  margin-right: -10px; }
  .advices__link:hover {
    text-decoration: none; }

@media screen and (max-width: 1100px) {
  .advices__bubble {
    margin-left: 3.75em; }
    .advices__bubble:before {
      bottom: 30%; }
  .advices__icon {
    left: 0.06em;
    font-size: 5em;
    width: 0.62em;
    height: 1em; } }

@media screen and (max-width: 992px) {
  .advices__bubble {
    margin-left: 0;
    margin-bottom: 5.63em; }
    .advices__bubble:before {
      bottom: -0.94em;
      left: 40%;
      border-top: 1em solid #f6a623;
      border-right: 1em solid transparent;
      border-bottom: none;
      border-left: none; }
  .advices__icon {
    left: 0.06em;
    font-size: 5em; } }

@media screen and (max-width: 767px) {
  .advices {
    margin-bottom: 1.56em; }
    .advices__item {
      margin-top: 0; }
      .advices__item_last {
        border-bottom-color: #dcdcdc; }
    .advices > .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
              align-items: flex-end; } }

@media screen and (max-width: 480px) {
  .advices__bubble {
    min-height: 0;
    padding-top: 1.56em; }
  .advices__item {
    margin-bottom: 0.19em; }
  .advices > .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .advices > .row > * {
      width: 100%; } }

.types {
  position: relative;
  padding-top: 1.88em;
  padding-bottom: 1.88em; }
  @media screen and (min-width: 1200px) {
    .types {
      padding-top: 2.81em;
      padding-bottom: 4.69em; }
      .types .types__item .product-prev__img-box {
        margin-bottom: 24px; } }

.experts {
  position: relative;
  margin-top: 3.13em;
  margin-bottom: 3.13em; }
  .experts__slider {
    margin-top: 3.4em;
    margin-left: 4.69em;
    margin-right: 4.69em; }
    .experts__slider .slick-arrow {
      top: 40px !important; }
  .experts__item {
    text-align: center;
    margin-left: 1.56em;
    margin-right: 1.56em; }
  .experts__img-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px; }
    .experts__img-box img {
      margin-left: auto;
      margin-right: auto; }
  .experts__name {
    margin-bottom: 10px;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000; }
  .experts__text {
    font-family: MuseoSansCyrl;
    font-size: 1em;
    line-height: 1.38em;
    font-weight: 300;
    text-shadow: 0 0;
    text-align: center;
    color: #000; }

.section_separated {
  padding-bottom: 3em;
  border-bottom: 1px solid #979797; }

.pagination {
  margin-top: 1.88em;
  margin-left: auto;
  margin-right: auto; }
  .pagination__wrap {
    text-align: center; }
  .pagination > li > a, .pagination > li > span {
    padding: 0.91em;
    font-family: MuseoSansCyrl;
    font-size: 1.38em;
    line-height: 1em;
    font-weight: 900;
    text-align: center;
    color: #000;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .pagination > li > a:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.59em;
    margin-top: -1.59em;
    width: 3.18em;
    height: 3.18em;
    background-color: #00a99d;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: -1; }
  .pagination > li > a:hover {
    color: #00a99d;
    background-color: inherit; }
    .pagination > li > a:hover:before {
      /*opacity: 1;*/ }
  .pagination > li.active > a {
    position: relative;
    background-color: inherit;
    color: #00a99d; }
    .pagination > li.active > a:before {
      /*opacity: 1;*/ }
    .pagination > li.active > a:hover {
      background-color: inherit; }

.sort-box {
  margin-top: 1em;
  margin-bottom: 1.2em;
  clear: both;
  float: none; }
  .sort-box__list {
    display: inline-block;
    font-family: MuseoSansCyrl;
    font-size: 1.13em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.78;
    text-align: left;
    color: #000; }
    .sort-box__list a {
      margin-left: 0.17em;
      margin-right: 0.17em;
      color: #000; }
      .sort-box__list a:first-child {
        margin-left: 0.56em; }
      .sort-box__list a.active {
        font-weight: 900; }
    .sort-box__list_left a {
      margin-left: 0.56em;
      margin-right: 0.56em; }
      .sort-box__list_left a:first-child {
        margin-left: 1.11em; }
    .sort-box__list_right {
      margin-left: 2em; }
      .sort-box__list_right a {
        margin-left: 0.1em;
        margin-right: 0.1em;
        color: #000;
        text-shadow: 0 0; }
        .sort-box__list_right a.active {
          font-weight: 900;
          background: none;
          color: #000;
          padding: 0 0 0 0;
          margin: 0 0 0 0; }
        .sort-box__list_right a:first-child {
          margin-left: 1.11em; }
  .sort-box__opts {
    display: inline-block; }
  @media screen and (min-width: 1199px) {
    .sort-box {
      margin-top: 1.2em;
      margin-bottom: 0.75em; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .sort-box__list {
      font-size: 1.06em; }
      .sort-box__list_right {
        margin-left: 0;
        margin-top: 0.59em;
        display: block; } }
  @media screen and (max-width: 767px) {
    .sort-box__list_right {
      margin-left: 0;
      margin-top: 0.59em;
      display: block; }
      .sort-box__list_right a:first-child {
        margin-left: 1.11em; }
    .sort-box__opts {
      display: block; } }

.catalog {
  padding-bottom: 0; }
  .catalog__content_bottom {
    float: none;
    clear: both; }
  .catalog__content_text {
    min-height: 157px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .catalog__label {
    position: absolute;
    top: 0.5em;
    left: 0;
    padding: 0.38em 1.67em;
    font-family: MuseoSansCyrl;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.42em;
    text-align: center;
    color: #fff;
    background-color: #00a99d; }
  .catalog__item {
    /*@include flex_parent();
		-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
		-webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;*/
    min-height: 560px;
    margin-top: 0;
    padding-bottom: 35px;
    padding-top: 15px;
    padding-left: 5px; }
    .catalog__item:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      margin-left: 0px;
      width: 100%;
      height: 1px;
      background-color: #000; }
    .catalog__item:after {
      content: '';
      position: absolute;
      top: 12px;
      left: -15px;
      margin-left: 0px;
      width: 1px;
      height: -webkit-calc(100% - 24px);
      height: calc(100% - 24px);
      background-color: #00a99d; }
    .catalog__item_best {
      max-width: none;
      padding-top: 40px; }
      .catalog__item_best .product-prev__brand a {
        color: #f6a623; }
      .catalog__item_best-left .catalog__content_top {
        min-height: 283px; }
      .catalog__item_best-left .catalog__content_bottom {
        float: none;
        clear: both; }
  .catalog .product-prev__descr {
    padding-bottom: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .catalog .product-prev__price {
    padding: 5px 15px;
    min-width: 170px;
    margin-top: 17px;
    display: inline-block;
    font-family: MuseoSansCyrl;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.78;
    text-align: left;
    color: #000;
    border: 1px solid #00a99d; }
    .catalog .product-prev__price:hover {
      text-decoration: none;
      background-color: #00a99d;
      color: #fff; }
  .catalog__item-wrap_fst-in-row .catalog__item:before {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    background-color: #000; }
  .catalog__item-wrap_fst-in-row .catalog__item:after {
    content: none; }
  .catalog__item-wrap_last-in-row .catalog__item:before {
    margin-left: -30px;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    background-color: #000; }
  .catalog__img-box {
    max-width: 15em;
    height: 15em;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; }
  .catalog__advice {
    position: relative;
    margin-bottom: 0.63em;
    padding-top: 5.17em;
    margin-top: 1.04em;
    font-family: MuseoSansCyrl;
    font-size: 1.45em;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0.9px;
    text-align: left;
    color: #f6a623;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: 2.71em 4.33em;
            background-size: 2.71em 4.33em;
    background-position: top left; }
    .catalog__advice_fashion {
      background-image: url("../img/fashion-girl.svg"); }
    .catalog__advice_smart {
      background-image: url("../img/smart-girl.svg"); }
    .catalog__advice_classic {
      background-image: url("../img/classic-girl.svg"); }
  .catalog__half-item {
    position: relative;
    width: 50%;
    float: left; }
    .catalog__half-item_absolute {
      position: absolute;
      top: 30px;
      width: 60%;
      margin-top: 0; }
      .catalog__half-item_absolute .product-prev__img-box {
        display: block; }
      .catalog__half-item_absolute img {
        width: 100%; }
    .catalog__half-item_right {
      right: 0; }
    .catalog__half-item_rel-right {
      padding-left: 50%;
      width: 100%;
      padding-top: 5px; }
  .catalog .catalog__half-item_left {
    width: 50%;
    top: 40%;
    margin-top: -7em; }
  @media screen and (min-width: 1199px) {
    .catalog__item {
      min-height: 545px; }
    .catalog .product-prev__brand {
      margin-bottom: 0.5em; }
    .catalog__advice {
      margin-top: 0.83em; } }
  @media screen and (max-width: 991px) {
    .catalog__item {
      min-height: 0;
      padding-left: 0; }
    .catalog__half-item_rel-right {
      padding-left: -webkit-calc(50% + 0.63em);
      padding-left: calc(50% + 0.63em); } }
  @media screen and (max-width: 767px) {
    .catalog__item:before {
      content: none; }
    .catalog__item:after {
      content: none; }
    .catalog__item_best {
      max-width: 500px; }
    .catalog__item-wrap:before {
      display: none;
      content: '';
      position: absolute;
      top: 5px;
      right: -1px;
      margin-left: 0px;
      height: -webkit-calc(100% - 40px);
      height: calc(100% - 40px);
      width: 1px;
      background-color: #00a99d; }
    .catalog__item-wrap:nth-child(2n):before {
      right: auto;
      left: 1px; }
    .catalog__img-box {
      max-width: 100%;
      height: auto; }
    .catalog__content_text {
      height: auto; }
    .catalog__half-item {
      width: auto;
      float: none; }
      .catalog__half-item_absolute {
        position: relative;
        top: auto;
        margin-top: 0; }
      .catalog__half-item_right {
        right: auto; }
      .catalog__half-item_rel-right {
        padding-left: 0;
        width: auto; }
    .catalog__advice {
      margin-top: 0; } }

/* filters stuff */
.filters {
  position: absolute;
  height: -webkit-calc(100% - 1.88em);
  height: calc(100% - 1.88em);
  left: 15px;
  top: 0px;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  margin-top: 1.88em;
  padding: 1.8em 1.88em 2.19em 1.88em;
  border: solid 3px #00a99d; }
  .filters__wrap {
    padding-right: 0;
    position: relative; }
    .filters__wrap .product-prev__wrap {
      padding-top: 15px; }
  .filters__box {
    margin-top: 2.2em; }
    .filters__box:first-child {
      margin-top: 0; }
  .filters__title {
    position: relative;
    display: block;
    margin-bottom: 1.11em;
    margin-right: 1.39em;
    padding: 0.56em 1.67em 0.72em 0em;
    width: auto;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: MuseoSansCyrl;
    font-size: 1.13em;
    font-weight: 900;
    line-height: 1.78;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000; }
    .filters__title:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -0.78em;
      right: 0.28em;
      border: solid #000;
      border-width: 0 0.11em 0.11em 0;
      display: inline-block;
      padding: 0.37em;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .filters__title[aria-expanded="true"]:after {
      margin-top: -0.39em;
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
    .filters__title:hover {
      text-decoration: none; }
  .filters .collapse.in {
    padding: 0; }
  @media screen and (min-width: 1199px) {
    .filters__title {
      padding-left: 0;
      padding-bottom: 0.56em;
      margin-bottom: 1em; }
    .filters .collapse.in {
      padding-top: 1px; } }
  @media screen and (min-width: 768px) {
    .filters__parent {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; } }
  @media screen and (max-width: 1099px) {
    .filters__title {
      margin-right: 0.31em; }
      .filters__title:after {
        padding: 0.31em;
        margin-top: -0.63em; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .filters {
      padding: 1.25em 1.25em 1.25em 1.25em; } }
  @media screen and (max-width: 767px) {
    .filters__box {
      margin-top: 1.25em; }
    .filters__wrap {
      padding-right: 15px; } }

.list-check {
  list-style: none; }
  .list-check__item {
    margin: 0.81em 0; }
  .list-check__label {
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #000; }
  @media screen and (min-width: 1199px) {
    .list-check__item {
      margin: 0.45em 0; } }

.label-text {
  padding-left: 0.5em;
  cursor: pointer; }

.jq-checkbox {
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff; }
  .jq-checkbox__div {
    opacity: 0;
    width: 7px;
    height: 7px;
    margin: 4px 0 0 4px;
    background-color: #000; }
  .jq-checkbox.checked .jq-checkbox__div {
    opacity: 1;
    width: 7px;
    height: 7px;
    margin: 4px 0 0 4px;
    background-color: #000; }

/* eof filters stuff */
.right-content {
  margin-top: 1.88em; }

.breadcrumb {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.63em;
  background-color: transparent; }
  .breadcrumb a, .breadcrumb .active {
    font-family: MuseoSansCyrl;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000; }
  .breadcrumb > li + li:before {
    color: #000; }

.descr-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.6em; }
  .descr-intro__icon {
    margin-right: 2.38em; }
  .descr-intro__text {
    font-family: MuseoSansCyrl;
    font-size: 1.75em;
    font-weight: 900;
    line-height: 1.32;
    text-align: left;
    color: #000;
    padding-top: 16px; }

.row_small {
  margin-left: -8px;
  margin-right: -8px; }
  .row_small > div {
    padding-left: 8px;
    padding-right: 8px; }

.product-descr__text {
  font-family: MuseoSansCyrl;
  font-size: 1em;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #000; }

.product-descr__bages {
  position: relative;
  margin-top: 1.25em;
  margin-bottom: 0.6em;
  line-height: 1;
  color: #000; }

.bages__item {
  font-size: 2em;
  margin-right: 0.5em; }
  .bages__item_closer {
    margin-right: 0.6em; }

.accordion {
  margin-bottom: 3.13em;
  border-top: 1px solid #000; }
  .accordion__box {
    margin-top: 0em; }
    .accordion__box:first-child {
      margin-top: 0; }
  .accordion__title {
    position: relative;
    display: block;
    margin-bottom: 0em;
    margin-right: 0em;
    padding: 0.62em 3.5em 0.62em 0em;
    width: auto;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: MuseoSansCyrl;
    font-size: 1.13em;
    font-weight: 700;
    line-height: 1.78;
    letter-spacing: 0;
    text-align: left;
    color: #000;
    border-bottom: 1px solid #000; }
    .accordion__title:hover {
      color: #00a99d; }
    .accordion__title:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2.06em;
      display: inline-block;
      padding: 0.31em;
      margin-top: -0.5em;
      border: solid #000;
      border-width: 0 0.11em 0.11em 0;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -ms-transition: all 0.3s; }
    .accordion__title[aria-expanded="true"]:after {
      margin-top: -0.25em;
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
    .accordion__title:hover {
      text-decoration: none; }
  .accordion .collapse.in {
    padding: 0; }
  @media screen and (max-width: 767px) {
    .accordion__box {
      margin-top: 1.25em; } }

.simple-descr {
  margin-top: 3.13em; }
  .simple-descr h2 {
    padding-bottom: 0.5em; }

/* tabs stuff */
.nav-tabs {
  border-top: 1px solid #000;
  border-bottom: none;
  padding-top: 5px; }
  .nav-tabs > li > a {
    padding: 0.38em 0.62em 0.38em 0;
    font-family: MuseoSansCyrl;
    font-size: 0.81em;
    font-weight: 500;
    line-height: 2.46;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000;
    border-color: transparent; }
    .nav-tabs > li > a:hover {
      text-decoration: underline;
      background-color: inherit;
      border-color: transparent; }
  .nav-tabs > li.active > a {
    color: #000;
    border-color: transparent;
    background-color: inherit;
    font-weight: 900; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: inherit;
    border-color: transparent; }

.tab-content {
  margin-top: 1.1em;
  margin-bottom: 1.88em; }

.tab-pane {
  font-family: MuseoSansCyrl;
  font-size: 1em;
  font-weight: 300;
  text-shadow: 0 0;
  line-height: 1.38;
  letter-spacing: 1px;
  text-align: left;
  color: #000; }
  .tab-pane p {
    padding-top: 0.75em;
    padding-bottom: 0.75em; }

/* end tabs stuff */
.features {
  margin-top: 3.13em; }
  .features h2 {
    padding-bottom: 0.5em; }

.btn.btn-default {
  min-width: 14.44em;
  position: relative;
  margin: 0.56em 0.33em;
  padding-left: 1.11em;
  padding-right: 1.11em;
  padding-top: 0.72em;
  padding-bottom: 0.61em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: MuseoSansCyrl;
  font-size: 1.13em;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: solid 1px #00a99d;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn.btn-default:hover, .btn.btn-default.active {
    background-color: #00a99d;
    color: #fff; }

.btn.btn_invert {
  background-color: #00a99d;
  color: #fff; }
  .btn.btn_invert:hover, .btn.btn_invert.active {
    color: #000;
    background-color: #fff;
    border: solid 1px #00a99d; }

.btn_cart {
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 0.94em;
  padding-right: 0.47em;
  padding-top: 0.41em;
  padding-bottom: 0.41em;
  text-decoration: none;
  text-transform: none;
  font-family: MuseoSansCyrl;
  font-size: 1.06em;
  font-weight: 900;
  line-height: 1.78;
  text-align: left;
  color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #00a99d; }
  .btn_cart .icon-bucket {
    position: relative; }
    .btn_cart .icon-bucket:before {
      content: '';
      position: absolute;
      top: -0.2em;
      left: -0.6em;
      width: 2px;
      height: -webkit-calc(100% + 0.41em);
      height: calc(100% + 0.41em);
      background-color: #7ed3cc; }
  .btn_cart:hover, .btn_cart.active {
    color: #000;
    background-color: #fff;
    border: solid 1px #00a99d; }
    .btn_cart:hover .icon-bucket, .btn_cart.active .icon-bucket {
      background-image: url("../img/bucket_blue.svg"); }

.btn__icon {
  float: right;
  margin-right: 0; }

.btn.btn_no-x-margins {
  margin-left: 0;
  margin-right: 0; }

.btn.btn_no-margins {
  margin: 0; }

.rating__star {
  margin-right: 0.13em;
  font-size: 1em; }

.reviews {
  margin-top: 1.11em;
  padding-bottom: 1.88em;
  text-align: center; }
  .reviews__item {
    margin-top: 0.75em;
    margin-bottom: 1.25em;
    padding-right: 1.88em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #dcdcdc; }
  .reviews__ava {
    display: inline-block;
    width: 2.88em;
    height: 2.88em;
    margin-right: 1.13em;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
    .reviews__ava img {
      width: 100%;
      max-width: 100%; }
  .reviews__name {
    display: inline-block;
    font-family: BlissPro;
    font-size: 1.13em;
    text-align: left;
    color: #000; }
  .reviews__text {
    margin-top: 1.56em;
    margin-bottom: 1.81em;
    width: 100%;
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.38;
    letter-spacing: 1px;
    text-align: left;
    color: #000; }

.questions {
  margin-top: 2.38em; }
  .questions__expert {
    text-decoration: none;
    color: #00a99d; }
    .questions__expert:hover {
      color: #00a99d;
      text-decoration: underline; }
  .questions__text {
    padding-right: 2.06em; }
  .questions__form {
    padding-right: 2.06em; }

.answered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  text-align: left;
  margin-top: 0.63em;
  margin-bottom: 1.38em;
  padding-top: 1.25em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #dcdcdc; }
  .answered:first-child {
    padding-bottom: 1.25em;
    margin-bottom: 1.56em; }
  .answered__autor {
    margin-bottom: 1.39em;
    font-family: BlissPro;
    font-size: 1.13em;
    text-align: left;
    color: #000; }
  .answered__date {
    margin-bottom: 1.39em;
    font-family: BlissPro;
    font-size: 1.13em;
    text-align: right;
    color: #dcdcdc; }
  .answered__label {
    width: 100%;
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 0.76em;
    font-weight: 500;
    line-height: 2.46;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000; }
  .answered__text {
    width: 100%;
    margin-bottom: 0.81em;
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.38;
    letter-spacing: 1px;
    text-align: left;
    color: #000; }

.form {
  margin-top: 2.5em; }
  .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    .form-group label {
      display: inline-block;
      width: 18%;
      font-family: MuseoSansCyrl;
      font-size: 1em;
      font-weight: 300;
      text-shadow: 0 0;
      line-height: 1.38;
      letter-spacing: 1px;
      text-align: left;
      color: #000; }
  .form-control {
    width: 82%;
    height: 2.75em;
    font-size: 1em;
    background-color: #fff;
    border: solid 1px #00a99d;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  .form .btn {
    margin-left: 18%;
    margin-top: 0;
    width: 12.22em;
    min-width: 12.22em; }

.info-card {
  padding: 272px 1.25em 0.8em 2.5em;
  margin-top: -15em;
  background-color: rgba(0, 169, 157, 0.25); }
  .info-card__wrap {
    margin-left: 6.56em; }
  .info-card__title {
    margin-top: 1.15em;
    margin-bottom: 0.92em;
    font-family: MuseoSansCyrl;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 0.81em;
    font-weight: 500;
    line-height: 1.54em;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000; }
    .info-card__title:first-child {
      margin-top: 1.15em; }
    .info-card__title .icon {
      font-size: 1.69em;
      margin-right: 0.55em;
      vertical-align: sub; }
  .info-card__list {
    margin-bottom: 1.88em;
    font-family: MuseoSansCyrl;
    font-size: 0.88em;
    font-weight: 300;
    text-shadow: 0 0;
    line-height: 1.8;
    text-align: left;
    color: #000; }
    .info-card__list p {
      letter-spacing: 0px;
      line-height: 1.5; }
  .info-card__column {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-right: 0.94em; }
  .info-card__discount {
    margin-right: 2.5em;
    padding-top: 0.13em;
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: #000; }
    .info-card__discount a {
      border-bottom: dashed 1px #000;
      color: #000;
      text-decoration: none; }
      .info-card__discount a:hover {
        border-bottom-color: transparent; }
  @media screen and (min-width: 1200px) {
    .info-card__discount {
      margin-right: 2.5em; } }
  @media screen and (max-width: 1050px) {
    .info-card {
      padding-top: 14.88em;
      margin-top: -13em; }
      .info-card__discount {
        margin-right: 0; } }
  @media screen and (max-width: 991px) {
    .info-card {
      padding-left: 1.3em;
      padding-right: 0.75em; }
      .info-card__wrap {
        margin-left: 4.69em; } }
  @media screen and (max-width: 840px) {
    .info-card {
      padding-top: 12.88em;
      margin-top: -11em; } }
  @media screen and (max-width: 767px) {
    .info-card {
      padding-top: 3em;
      margin-top: 2em; }
      .info-card__wrap {
        margin-left: 0; }
      .info-card__discount {
        max-width: 10.63em; }
      .info-card .btn_cart {
        max-width: 14.29em; } }
  .info-card__descr {
    margin: -9px 0 0 0; }
    .info-card__descr .info-card__column {
      width: 52%;
      padding-right: 2%; }
    .info-card__descr .info-card__column + .info-card__column {
      width: 47%;
      padding-right: 0px; }

.product-slider {
  position: relative;
  max-width: 100%;
  margin-top: 1.56em; }
  .product-slider-for {
    width: 480px;
    height: 480px; }
    .product-slider-for__item {
      width: 480px;
      height: 480px;
      background-color: #fff;
      border: solid 0.19em #00a99d;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      padding-top: 0;
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
      .product-slider-for__item img {
        width: 100%; }
  .product-slider img, .product-slider iframe {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .product-slider-nav {
    width: 4.38em;
    position: absolute;
    left: -6.25em;
    top: 0.63em;
    padding-top: 2.38em;
    padding-bottom: 2.38em; }
    .product-slider-nav__item {
      max-height: 4.38em;
      margin-top: 0.5em;
      margin-bottom: 1em; }
  @media screen and (min-width: 1200px) {
    .product-slider-nav {
      width: 5em; }
      .product-slider-nav__item {
        height: 5em; } }
  @media screen and (max-width: 991px) {
    .product-slider-nav {
      left: -4.69em; } }
  @media screen and (max-width: 767px) {
    .product-slider {
      margin-top: 2em; }
      .product-slider-for {
        width: -webkit-calc(100% - 5em);
        width: calc(100% - 5em);
        max-width: 30em;
        margin-left: auto;
        margin-right: auto; }
        .product-slider-for__item {
          width: auto; }
      .product-slider-nav {
        position: relative;
        top: auto;
        left: auto;
        float: left; } }

.colors-slider {
  width: -webkit-calc(100% - 3.13em);
  width: calc(100% - 3.13em);
  float: right;
  margin-top: 0.31em;
  margin-bottom: 0;
  padding-left: 2.5em;
  padding-right: 2.5em; }
  .colors-slider__item {
    display: block;
    width: 3.75em;
    height: 3.75em;
    margin: 0.63em 0.44em;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .colors-slider__item img {
      width: 100%;
      max-width: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
  .colors-slider__wrap {
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: -4px; }
  .colors-slider__title {
    display: inline-block;
    vertical-align: middle;
    height: 4.3em;
    line-height: 4.8em;
    margin-top: 0.77em;
    margin-bottom: 0;
    font-family: MuseoSansCyrl;
    font-size: 0.81em;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-align: left;
    color: #000; }
  @media screen and (max-width: 767px) {
    .colors-slider__item {
      height: auto; } }

a:focus, a:active {
  text-decoration: none !important; }

.product-slider-nav__item img {
  cursor: pointer;
  border: 2px solid #ccc; }

.btn__text {
  float: left; }

.button-up {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 39px;
  height: 39px;
  background: url("../img/UpArrow.svg") no-repeat left top; }

@media screen and (max-width: 1080px) {
  .post-preview__title {
    font-size: 1.05em; } }

.info-card__column {
  margin-right: -4px; }

@media screen and (max-width: 1300px) {
  .product-slider-for__item {
    height: auto; }
  .product-slider-for {
    height: auto;
    width: 100%; }
  .info-card__discount {
    margin-right: 0px; } }

@media screen and (max-width: 1199px) {
  header .navbar-collapse {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    background: #FFF;
    border: 3px solid #f6a623 !important;
    padding: 0 15px 15px 15px;
    margin: 2px 0 0 0 !important; } }

@media screen and (max-width: 991px) {
  .catalog .product-prev__price {
    min-width: 140px; }
  .post-preview__title {
    font-size: 1.1em; }
  .post-preview_main .post-preview__title {
    font-size: 1.8em; }
  .product-prev__title {
    font-size: 1.5em; }
  .posts {
    padding-top: 30px;
    margin-top: 0px; }
  .product-prev__img-box img {
    max-width: 90%; }
  .footer__logo-box {
    padding-left: 0px; }
  .footer__content {
    padding-top: 25px; }
  .brands__text {
    font-size: 15px; }
  .filters__wrap {
    padding-right: 15px; }
  .filters__parent {
    display: block; }
  .info-card__discount a {
    font-size: 0.9em; }
  .features h2 {
    font-size: 1.8em; }
  .product-prev__img-box {
    height: 16em; }
  .product-prev_types .product-prev__img-box {
    height: 19em; }
  .product-prev__wrap {
    padding-top: 0px;
    margin-top: -15px; }
  .post-preview__img-box_has-video:after {
    -webkit-background-size: 3.25em 3.25em;
            background-size: 3.25em 3.25em; }
  .filters {
    position: relative;
    left: auto;
    width: 100%; }
  .sort-box {
    padding-bottom: 20px; }
  .catalog__item {
    min-height: 0px; }
  .catalog__content_bottom.catalog__half-item_rel-right {
    float: none;
    clear: both;
    display: block; }
  .catalog__half-item.catalog__half-item_rel-right {
    float: none;
    clear: both;
    display: block; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .types .col-xs-12 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px; }
  .types .product-prev__img-box {
    height: 20em; } }

.catalog-mobile-img {
  display: none; }

@media screen and (max-width: 767px) {
  .advices__icon {
    bottom: -1px; }
  .post-preview_marg-bot {
    margin-top: 0px; }
  .post-preview_less-marg-top {
    margin-top: 0px; }
  .advices .row,
  .posts .row,
  .section_separated .row {
    margin-left: -8px;
    margin-right: -8px; }
    .advices .row > div,
    .posts .row > div,
    .section_separated .row > div {
      padding-left: 8px;
      padding-right: 8px; }
  .post-preview__about {
    margin-top: 10px; }
  .post-preview__autors-name {
    font-size: 0.9em; }
  .catalog__content_text {
    min-height: 0px; }
  .catalog .catalog__half-item_left {
    width: auto;
    top: 0px;
    margin-top: 0px; }
  .catalog__half-item_absolute img {
    width: auto; }
  .product-descr__bages {
    padding-bottom: 15px; }
  .accordion__box {
    margin-top: 0px; }
  .accordion {
    margin-bottom: 0px; }
  .questions__form {
    padding-right: 0px; }
  .product-slider-nav {
    z-index: 1; }
  .product-prev_types .product-prev__img-box img {
    margin: 0 auto; }
  .types__item .product-prev__img-box {
    margin-bottom: 15px; }
  .types .product-prev__img-box {
    height: 210px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-align-content: center; }
  .product-prev__img-box {
    height: auto;
    margin-bottom: 15px; }
  .post-preview__tag {
    margin-top: 2em; }
  .catalog__item_best-left .catalog__content_top {
    min-height: 0px; }
  .sort-box {
    padding-bottom: 20px; }
  .product-prev__wrap {
    display: block; }
  .latest .col-xs-12,
  .catalog .col-xs-12,
  .product-prev__wrap .col-xs-12 {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 50%; }
  .experts__slider {
    margin-left: 2.2em;
    margin-right: 2.2em; }
  .experts__item {
    margin-left: 1em;
    margin-right: 1em; }
  .experts__img-box img {
    display: block;
    max-width: 100%;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .experts__name {
    font-size: 15px;
    line-height: 1.1; }
  .catalog-mobile-img {
    display: block; }
    .catalog-mobile-img img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
  .js-video-block {
    padding-top: 30px; }
  .info-card__wrap {
    padding-bottom: 15px;
    margin-top: 60px; } }

@media screen and (max-width: 500px) {
  .banner__text,
  .banner__title,
  .banner__descr,
  .banner__tag {
    text-align: center; }
  .banner__tag {
    padding-top: 15px; } }

@media screen and (max-width: 480px) {
  p,
  .reviews__text,
  .product-prev__descr,
  .advices__text,
  .advices__link {
    font-size: 1.1em; }
  .post-preview__img-box_has-video:after {
    -webkit-background-size: 3em 3em;
            background-size: 3em 3em; }
  .brands__text {
    font-size: 13px; }
  .brands__slider {
    padding-left: 2em;
    padding-right: 2em; }
  .advices__bubble {
    left: 70px;
    top: 40px;
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px); } }

_:-ms-fullscreen, :root .banner {
  padding-top: 3.13em; }

/*# sourceMappingURL=style.css.map */
