// main: ../base/_reset.scss

/* reset */
$min-width: 320px;
$max-width: 1280px;
$base-bg: #FFF;
$base-font-size: 13px;
$base-line-height: 18px;
$base-font-family: Arial, sans-serif;
$custom-font-family: MuseoSansCyrl, sans-serif;
$link-color: #100da9;
$iconfont: 'icomoon' !important;
$default-transition:all 0.2s linear;

/* main variables */
$imgPath: '../img/';

//text, titles
$text-color: #000;
$title-color: #000;
$color-text: #000;
$color-bg: #fff;
$color-sep: #979797;
$color1: #f6a623;
$color2: #00a99d;
$title-font-family: BlissPro, sans-serif;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;
