@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w7ayh9');
  src:  url('fonts/icomoon.eot?w7ayh9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w7ayh9') format('truetype'),
    url('fonts/icomoon.woff?w7ayh9') format('woff'),
    url('fonts/icomoon.svg?w7ayh9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trophy:before {
  content: "\e963";
}
.icon-medal:before {
  content: "\e964";
}
.icon-confetti:before {
  content: "\e965";
}
.icon-logo .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e930";
  margin-left: -4.0947265625em;
  color: rgb(0, 169, 157);
}
.icon-comments:before {
  content: "\e932";
  color: #00a99d;
}
.icon-map_mark .path1:before {
  content: "\e933";
  color: rgb(0, 169, 157);
}
.icon-map_mark .path2:before {
  content: "\e934";
  margin-left: -0.6552734375em;
  color: rgb(255, 255, 255);
}
.icon-arrow_left:before {
  content: "\e935";
  color: #00a99d;
}
.icon-Page1Copy2:before {
  content: "\e931";
  color: #00a99d;
}
.icon-Page1Copy22:before {
  content: "\e961";
  color: #00a99d;
}
.icon-Page1Copy23:before {
  content: "\e962";
  color: #00a99d;
}
.icon-logo_min .path1:before {
  content: "\e936";
  color: rgb(0, 0, 0);
}
.icon-logo_min .path2:before {
  content: "\e937";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path3:before {
  content: "\e938";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path4:before {
  content: "\e939";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path5:before {
  content: "\e93a";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path6:before {
  content: "\e93b";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path7:before {
  content: "\e93c";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path8:before {
  content: "\e93d";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path9:before {
  content: "\e93e";
  margin-left: -5.1669921875em;
  color: rgb(0, 0, 0);
}
.icon-logo_min .path10:before {
  content: "\e93f";
  margin-left: -5.1669921875em;
  color: rgb(0, 169, 157);
}
.icon-toy:before {
  content: "\e940";
}
.icon-bird:before {
  content: "\e941";
}
.icon-edit:before {
  content: "\e942";
}
.icon-play .path1:before {
  content: "\e943";
  color: rgb(0, 169, 157);
}
.icon-play .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-star_active:before {
  content: "\e95f";
  color: #f5a623;
}
.icon-star:before {
  content: "\e960";
  color: #dcdcdc;
}
