// main: ../style.scss

//main styles
body {
	font-size: 16px;
	@media screen and (max-width: 1099px) {
		font-size: 15px;
	}
	@media screen and (max-width: 992px) {
		font-size: 14px;
	}
	@media screen and (max-width: 767px) {
		font-size: 13px;
	}
	@media screen and (max-width: 480px) {
		font-size: 12px;
	}
}
.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	-webkit-box-pack:start;
	justify-content:flex-start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack: start;
}
.wrapper {
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p {
	padding: 0.31em 0 0.31em 0; // padding: 5px 0 5px 0;
	font-family: MuseoSansCyrl;
	font-size: 1em; // font-size: 16px;
	font-weight: 300;
	text-shadow: 0 0;
	line-height: 1.38;
	letter-spacing: 1px;
	text-align: left;
	color: $color-text;
}
h1 {
	padding: 0.47em 0 0.94em 0;  // padding: 15px 0 30px 0;
	font-family: MuseoSansCyrl;
	font-size: 2.25em; // font-size: 36px;
	font-weight: 900;
	line-height: 1.03;
	letter-spacing: 1px;
	text-align: left;
	color: $color2;
}
h2 {
	padding: 0.47em 0 0.94em 0;  // padding: 15px 0 30px 0;
	font-size: 2em; // font-size: 32px;
	line-height: 1.13em; // line-height: 36px;
	font-weight: 400;
	letter-spacing: 0.09em; // letter-spacing: 3px;
	text-align: left;
	text-transform: uppercase;
	color: $color2;
	font-family: MuseoSansCyrl;
}
h3 {
	padding: 0.47em 0 0.94em 0;  // padding: 15px 0 30px 0;
	font-size: 1.63em; // font-size: 26px;
	line-height: 1.13em; // line-height: 36px;
	font-weight: 400;
	letter-spacing: 0.09em; // letter-spacing: 3px;
	text-align: left;
	color: $color2;
	font-family: MuseoSansCyrl;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}

/* bootstrap styles rebind */
/* eof bootstrap styles rebind */

/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}
a {
	@include transition(all 0.4s ease);
	text-decoration: none;
	&:hover, &:focus {
		color: inherit;
	}
}
strong {
	font-weight: 700;
}
.icon-girl {
	&_fix {
		margin-bottom: -1px;
		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}
	width: 4.06em; // width: 65px;
	height: 6.56em;	// height: 105px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	&_fashion {
		background-image: url('../img/fashion-girl.svg');
		background-size: contain;
	}
	&_smart {
		background-image: url('../img/smart-girl.svg');
		background-size: contain;
	}
	&_classic {
		background-image: url('../img/classic-girl.svg');
		background-size: contain;
	}
}
.icon-bucket {
	display: inline-block;
	vertical-align: sub;
	width: 1.6em;
	height: 1.6em;
	background-image: url('../img/bucket_white.svg');
	background-size: contain;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	@media screen and (max-width: 1050px) {
		display: none;
	}
	@media screen and (max-width: 767px) {
		display: inline-block;
	}
	@media screen and (max-width: 399px) {
		display: none;
	}
}
.slick-slider {
	.slick-arrow {
		&.slick-prev, &.slick-next {
			position: absolute;
			top: 0%;
			margin-top: 3.13em; // margin-top: 150/2-50/2px = 50px;
			width: 1.88em; // width: 30px;
			height: 3.13em; // height: 50px;
			line-height: 4.81em;
			color: transparent;
			opacity: 0.3;
			@include radius(100%);
			border: none;
			background-color: $color-bg;
			z-index: 35;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -0.74em; // margin-top: -10px;
				border: solid $color-text;
			    border-width: 0 0.19em 0.19em 0; // border-width: 0 3px 3px 0;
			    display: inline-block;
			    padding: 0.75em;
			}
			&:hover {
				opacity: 0.75;
			}
		}
		&.slick-prev {
			left: 0px;
			&:before {
				left: 20%;
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
		        -webkit-transform: rotate(135deg);
			}
		}
		&.slick-next {
			right: 0px;
			&:before {
				right: 20%;
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}
		@media screen and (max-width: 1300px) {
			&.slick-prev {
				left: 0em; // left: 10px;
			}
			&.slick-next {
				right: 0em; // right: 20px;
			}
		}
		@media screen and (max-width: 767px) {
			// &.slick-prev {
			// 	left: 10px;
			// }
			// &.slick-next {
			// 	right: 20px;
			// }
		}
	}
	&.brands__slider {

	}
	&.experts__slider, &.arrows-theme {
		.slick-arrow {
			&.slick-prev, &.slick-next {
				position: absolute;
				top: 3.13em; // top: 50px;
				margin-top: 0em;
				padding: 0;
				width: 2.5em;	// width: 40px;
				height: 1.88em;	// height: 30px;
				line-height: 1;
				color: transparent;
				opacity: 0.75;
				@include radius(100%);
				border: none;
				background-color: $color-bg;
				z-index: 35;
				&:before {
					position: absolute;
					top: 0%;
					margin-top: 0em; // margin-top: 0px;
					padding: 0;
					width: auto;
					height: auto;
					font-size: 1.69em; // font-size: 27px;
					// font-size: 1.88em; // font-size: 30px;
					color: $color2;
					border: none;
					font-family: 'icomoon' !important;
				}
				&:hover {
					opacity: 1;
				}
			}
			&.slick-prev {
				left: -3em;
				&:before {
					content: "\e935";
					-ms-transform: rotate(0);
					transform: rotate(0);
			        -webkit-transform: rotate(0);
				}
			}
			&.slick-next {
				right: -3em;
				&:before {
					content: "\e931";
					-ms-transform: rotate(0);
					transform: rotate(0);
			        -webkit-transform: rotate(0);
				}
			}
		}
	}
	&.arrows-theme {
		.slick-arrow {
			&.slick-prev, &.slick-next {
				background-color: transparent;
			}
		}
	}
	&.colors-slider {
		.slick-arrow {
			&.slick-prev, &.slick-next {
				top: 50%;
				margin-top: -0.94em; //height: 15px;
				&:before {
					font-size: 1.56em; // font-size: 25px;
				}
			}
			&.slick-prev {
				left: 0em;
			}
			&.slick-next {
				right: 0em;
			}
			&.slick-disabled {
				opacity: 0.2;
				&:hover {
					opacity: 0.2;
					cursor: auto;
				}
			}
		}

	}
	&.slick-vertical {
		.slick-arrow {
			&.slick-prev, &.slick-next {
				top: auto;
				left: 50%;
				right: auto;
				bottom: auto;
				margin-left: -0.94em; //-15px;
				height: auto;	// width: 40px;
				width: 1.88em;	// height: 30px;
				@include radius(100%);
				&:before {
					font-size: 1.69em; // font-size: 27px;
				}
			}
			&.slick-prev {
				left: 50%;
				top: 0;
				&:before {
					content: "\e961";
					-ms-transform: rotate(0);
					transform: rotate(0);
			        -webkit-transform: rotate(0);
				}
			}
			&.slick-next {
				right: auto;
				bottom: 0;
				&:before {
					content: "\e962";
					-ms-transform: rotate(0);
					transform: rotate(0);
			        -webkit-transform: rotate(0);
				}
			}
		}
	}
	&.product-slider-nav {
		.slick-slide {
			opacity: 0.5;
            position: relative;
            cursor: pointer;
			&.slick-current {
				opacity: 1;
				img {
					border: 2px solid #00a99d;;
				}
			}
            &.with-video_1{
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 0em;
                    margin-top: 0em;
                    width: 100%;
                    height: 100%;
                    background: transparent url('../img/play.svg') center center no-repeat;
                    background-size: 2em 2em;
                    @include transition(all 0.4s ease);
                    
                }
            }
		}
	}
}
.separated-row {
	position: relative;
	clear: both;
    float: none;
	&:after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: calc(100% - 1.88em); // width: calc(100% - 30px);
		height: 1px;
		background-color: $color-text;
	}
}
.separated {
	border-bottom: 1px solid $color-text;
}
.separator {
	position: relative;
	clear: both;
    float: none;
	margin-bottom: 0;
	width: 100%; // width: calc(100% - 30px);
	height: 1px;
	background-color: $color-text;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.lighter {
	font-weight: 300;
	text-shadow: 0 0;
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	min-width: $min-width;
	text-align:left;
    width: 100%;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
    -webkit-order: 2;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
    -webkit-flex-grow: 1;
   margin-top: 114px;
}
/* bootstrap defauls */
.container-fluid {
	max-width: 1215px;
}
hr{
    height: 0px;
    margin: 0 0 0 0;
}
.col {
	&-sm_no-right_pad {}
	&_fix_pad {}
	&_fix_pad_wrap {}
	
		&-sm_no-right_pad {
			padding-right: 0;
		}
		&_fix_pad_wrap {
			margin-left: -8px;
            margin-right: -8px;
		}
		&_fix_pad {
			padding-left: 8px;
			padding-right: 8px;
		}
	
}
/* eof bootstrap defauls */

.banner {
	position: relative;
	@include flex_parent();
	@include flex_align(center);
	min-height: 185px;	
	margin-top: 0em;
	padding: 1em 1.88em 1em 15.5%;
	border: solid 7px #f6a623;
	@include transition(all 0.4s ease);
    margin-bottom: 4px;
	&:hover {
		text-decoration: none;
		.banner__title {
			text-decoration: underline;
			
		}
		.banner__descr {
			text-decoration: none;
            
		}
	}
	&__title {
		display: inline-block;
		font-family:'MuseoSansCyrl';
		font-size: 2em; // font-size: 32px;
		font-weight: 500;
		letter-spacing: 0.8px;
		text-align: left;
		color: #000000;
		padding-bottom: 0.25em; // padding-bottom: 8px;
		border-bottom: 2px solid transparent;
		@include transition(all 0.4s ease);
	}
	&__text {}
	&__tag {
		margin-top: -0.77em;
		// margin-top: -10px;
		margin-bottom: 0.77em;
		// margin-bottom: 10px;
		font-family: MuseoSansCyrl;
		font-size: 0.81em; // font-size: 13px;
		font-weight: 500;
		line-height: 1.23;
		letter-spacing: 1.8px;
		text-transform: uppercase;
		text-align: left;
		color: $color2;
	}
	&__descr {
		font-family: MuseoSansCyrl;
		font-size: 1.13em; // font-size: 18px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.33;
		text-align: left;
		color: #000000;
        max-width: 900px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -0.5em;
		width: 15.53%;
		font-size: 4.25em;
		text-align: center;
	}
	@media screen and (max-width: 1200px) {
		margin-top: 20px;
	}
	@media screen and (max-width: 767px) {
		&__icon {
			margin-top: -0.5em;
			font-size: 2.88em;
		}
	}
	@media screen and (max-width: 500px) {
		padding: 5em 1.88em 0.94em 1.88em;
		&__icon {
			
			left: 0;
			top: 0.44em;
			width: 100%;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0.22em;
			
		}
	}
}

.main-page .banner{
    @media screen and (max-width: 1200px) {
		margin-top: 0;
	}
}

.latest {
	position: relative;
	padding-top: 1.88em; // padding-top: 30px;
	padding-bottom: 0.63em; // padding-bottom: 10px;
	&__item {
		position: relative;
	}
	@media screen and (max-width: 767px) {

	}
}
.product-prev {
	display: block;
	position: relative;
	max-width: 500px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	&_types {
		margin-top: 55px;
        .product-prev__img-box{
            img{
                width: auto;
                display: block;
            }
        }        
	}
	&__wrap {
		@include flex_parent();
		@include flex_wrap(wrap);
		@include flex_align(flex-start);
        padding-top: 20px;

		[class^="col-"], [class*="col-"] {
			float: none;
			@media screen and (min-width: 768px) {
				margin-left: -0.2em;
				&:first-child, &:nth-child(3n+0) {
					margin-left: 0;
				}
			}
		}
	}
	&__img-box {
		display: block;		
		height: 17.65em;
		margin-top: 1.25em;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		overflow: hidden;
		img {			
			max-width: 100%;
            width: 231px;
		}

	}
	&__brand {
		display: block;
		margin-bottom: 0.7em;
		font-family: MuseoSansCyrl;
	    font-size: 1em; 
	    font-weight: 500;
	    line-height: 1.5;
	    letter-spacing: 1px;
	    text-align: left;
	    color: $color2;
		text-transform: uppercase;
		a {color: $color2;}
	}
	&__title {
		display: block;
		margin-bottom: 0.61em; // margin-bottom: 17px;
		font-family: MuseoSansCyrl;
	    font-size: 1.74em;  // font-size: 28px;
	    font-weight: 900;
	    line-height: 1.14;
	    text-align: left;
	    color: $color-text;
	}
	&__descr {
		font-family: MuseoSansCyrl;
		font-size: 1em;
		// font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.38;
		letter-spacing: 1px;
		text-align: left;
		color: $color-text;
	}
	@media screen and (max-width: 767px) {
		&__img-box {
			width: auto;
			max-width: 100%;
			height: auto;
			img {
				width: auto;
			}
		}
	}
}
.brands {
	&__slider {
		padding-left: 2.5em;	// padding-left: 40px;
		padding-right: 2.5em;	// padding-right: 40px;
	}
	&__item {
		width: calc(25% - 15px);
		margin-right: 7px;
        margin-left: 8px;
	}
	&__img-box {
		// display: block;
		@include flex_parent();
		@include flex_align(center);
		width: 100%;
		height: 150px;
		text-align: center;
		border: solid 1px #dcdcdc;
		img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
			&.brands__img_noordi {
				width: 259px;
				height: 90px;
			}
			&.brands__img_anex {
				width: 144px;
				height: 94px;
			}
			&.brands__img_tutek {
				width: 74px;
				height: 84px;
			}
			&.brands__img_navington {
				width: 235px;
				height: 55px;
			}
		}
		&:hover {
			border-color: $color1;
		}
	}
	&__text {
        display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.38;
		letter-spacing: 1px;
		text-align: left;
		color: $color-text;
	}
	@media screen and (max-width: 767px) {

	}
}

.post-preview {
	margin-top: 2.19em; // margin-top: 35px;
	margin-bottom: 0.31em; // margin-bottom: 5px;
	&_marg-bot {
		margin-bottom: 1.25em; // margin-bottom: 20px;
		// margin-bottom: 1.88em; // margin-top: 30px;
	}
	&_no-marg-bot {
		margin-top: 0;
	}
	&_less-marg-top {
		margin-top: 10px;
	}
	&_main {
		margin-bottom: 1.67em;
		.post-preview {
			//only prefix
			&__img-box {
				margin-bottom: 1.25em; // margin-bottom: 20px;
				img {}
			}
			&__tag {
				padding-top: 0.77em; // margin-top: 10px;
				margin-bottom: 0px;
			}
			&__title {
				margin-top: 0.25em; //8px
				font-size: 2em; // font-size: 32px;
				font-weight: 500;
			}
		}
	}

	&__img-box {
		position: relative;
		display: block;
		cursor: pointer;
		margin-bottom: 0.44em; // margin-bottom: 7px;
		&_has-video {
			&:after {
				content: "";
				position: absolute;
				top: 0;
			    left: 0;
			    margin-left: 0em;
			    margin-top: 0em;
			    width: 100%;
			    height: 100%;
				background: transparent url('../img/play.svg') center center no-repeat;
				background-size: 4.25em 4.25em; // background-size: 68px 68px;
				@include transition(all 0.4s ease);
				
			}
			&:hover:after {
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
		img {
			position: relative;
			display: block;
			width: 100%;
			max-width: 100%;
			// z-index: 100;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			opacity: 0;
		}
		&.active {
			&_has-video{
				&:after {
					content: none;
				}
			}
			iframe {
				z-index: 1;
				opacity: 1;
			}
		}
	}
	&__tag {
		display: block;
		margin-top: 1.08em; // margin-top: 14px;
		margin-bottom: -5px;
		font-size: 0.78em; // font-size: 13px;
		font-weight: 500;
		line-height: 1.35;
		letter-spacing: 0.12em;
		// letter-spacing: 1.6px;
		text-align: left;
		text-transform: uppercase;
		color: $color2;
		a {color: $color2;}
		&_margin-top {
			margin-top: 2.15em;
		}
		&_margin-bigger {
			margin-top: 2em;
		}
	}
	&__title {
		display: block;
		margin-top: 6px;
		padding-top: 8px;
		font-size: 1.12em; // font-size: 18px;
		line-height: 1.28;
		font-weight: 300;
		text-shadow: 0 0;
		text-align: left;
		color: $color-text;
		a {color: $color-text;}
	}
	&__about {
		position: relative;
		@include flex_parent();
		@include flex_align(center);
		-webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
		margin-top: 23px;
	}
	&__autor {

	}
	&__ava {
		display: inline-block;
		width: 2.94em; // width: 47px;
		margin-right: 0.81em; // margin-right: 13px;
		@include radius(100%);
		img {
			max-width: 100%;
		}
	}
	&__autors-name {
		display: inline-block;
		font-family: BlissPro;
		font-size: 0.81em; // font-size: 13px;
		text-align: left;
		color: $color-text;
	}
	&__comments {
		min-width: 40px;
		margin-left: 3px;
		font-family: BlissPro;
		font-size: 0.81em; // font-size: 13px;
		line-height: 1.54em; // font-size: 20px;
		text-align: left;
		color: $color2;
		.icon {
			vertical-align: middle;
			margin-left: 0.35em; // margin-left: 7px;
			font-size: 1.54em; // font-size: 20px;
		}
	}
	@media screen and (max-width: 1023px) {
		&__ava {
			margin-right: 0.41em;
		}
		&__autors-name {
			// display: block;
			// font-size:
		}
		&__comments {
			.icon {
				margin-left: 0.17em;
			}
		}
	}
	@media screen and (max-width: 991px) {
		&__ava {
			display: none;
		}
	}
	@media screen and (min-width: 480px) and (max-width: 767px) {
		&__ava {
			display: inline-block;
		}
	}
}
.posts {
	margin: 50px auto;
	border-bottom:  1px solid $color-text;
	@media screen and (max-width: 767px) {
		padding-bottom: 20px;
	}

}
.advices {
	&__item {
		position: relative;
		display: block;
		margin-top: 2.5em; // margin-top: 40px;
		margin-bottom: -1px;
		border-bottom: solid 1px #dcdcdc;
		&_first {
			margin-top: 1.88em; // margin-top: 30px;
		}
		&_last {
			border-bottom-color: $color-text;
		}
	}
	&__icon {
		position: absolute;
		left: 0.1em;	// left: 10px;
		bottom: -2px;
		font-size: 6.5em; //font-size: 104px;
		width: 0.63em; // width: 65px;
    	height: 1.01em;	// height: 105px;
		background-color: transparent;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		&_fashion {
			background-image: url('../img/fashion-girl.svg');
			background-size: contain;
		}
		&_smart {
			background-image: url('../img/smart-girl.svg');
			background-size: contain;
		}
		&_classic {
			background-image: url('../img/classic-girl.svg');
			background-size: contain;
		}
		.icon-girl {
			display: none;
		}
	}
	&__bubble {
		position: relative;
		@include flex_parent();
		-webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 3.13em; // margin-bottom: 50px;
		margin-left: 6.25em;	// margin-left: 100px;
		padding: 0.75em 1em 1.06em 1em; // padding: 12px 11px 17px 16px;
		min-height: 10.94em; // min-height: 175px;
		color: $color-bg;
		background-color: $color1;
		&:before {
			content: '';
			position: absolute;
			bottom: 45%;
			left: -1em; // left: -16px;
			width: 0;
			height: 0;
			border-bottom: 1em solid $color1; //16px
			border-left: 1em solid transparent; //16px
		}
	}
	&__text {
		font-size: 1em;// font-size: 16px;
		font-weight: 400; //500
		text-shadow: 0 0;
		line-height: 1.19;
		text-align: left;
		color: $color-bg;
	}
	&__link {
		padding-top: 1.25em;	// padding-top: 20px;
		font-size: 1em;// font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.19;
		text-align: left;
		color: $color-bg;
		text-decoration: underline;
        margin-right: -10px;
		&:hover {
			text-decoration: none;
		}
	}
	@media screen and (max-width: 1100px) {
		&__bubble {
			margin-left: 3.75em;	// margin-left: 60px;
			&:before {
				bottom: 30%;
			}
		}
		&__icon {
			left: 0.06em;	// left: 5px;
			font-size: 5em; // font-size: 80px;
			width: 0.62em;	// width: 49.5px;
			height: 1em; //	height: 80px;
		}
	}
	@media screen and (max-width: 992px) {
		&__item {}
		&__bubble {
			margin-left: 0;
			margin-bottom: 5.63em; // margin-bottom: 90px;
			&:before {
				bottom: -0.94em;	// bottom: -15px;
				left: 40%;
				border-top: 1em solid $color1;
				border-right: 1em solid transparent;
				border-bottom: none;
				border-left: none;
			}
		}
		&__icon {
			left: 0.06em;	// left: 5px;
			font-size: 5em; // font-size: 80px;
		}
	}
	@media screen and (max-width: 767px) {
		margin-bottom: 1.56em; // margin-bottom: 25px;
		&__item {
			margin-top: 0;
			&_last {
				border-bottom-color: #dcdcdc;
			}
		}
		& > .row {
			@include flex_parent();
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
		}
	}
	@media screen and (max-width: 480px) {
		&__bubble {
			min-height: 0;
			padding-top: 1.56em;	// padding-top: 25px;
		}
		&__item {
			margin-bottom: 0.19em;	// margin-bottom: 15px;
		}
		& > .row {
			@include flex_wrap(wrap);
			& > * {
				width: 100%;
			}
		}
	}
}
.types {
	position: relative;
	padding-top: 1.88em;
	padding-bottom: 1.88em; 
	@media screen and (max-width: 767px) {	}
	@media screen and (min-width: 1200px) {
		padding-top: 2.81em; 
		padding-bottom: 4.69em; 
		.types__item {
			.product-prev__img-box {
				margin-bottom: 24px;
			}
		}
	}
}
.experts {
	position: relative;
	margin-top: 3.13em; 
	margin-bottom: 3.13em; 
	&__slider {
		margin-top: 3.4em;
		margin-left: 4.69em;
		margin-right: 4.69em;
        .slick-arrow{
            top: 40px!important;
        }
	}
	&__item {
		text-align: center;
		margin-left: 1.56em;
		margin-right: 1.56em;
	}
	&__img-box {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 15px;
		img {
			margin-left: auto;
			margin-right: auto;

		}
	}
	&__name {
		margin-bottom: 10px;
		font-family: MuseoSansCyrl;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		color: $color-text;
	}
	&__text {
		font-family: MuseoSansCyrl;
		font-size: 1em;// font-size: 16px;
		line-height: 1.38em; // line-height: 22px;
		font-weight: 300;
		text-shadow: 0 0;
		text-align: center;
		color: $color-text;
	}
    
}
.section {
	&_separated {
		padding-bottom: 3em;
		border-bottom: 1px solid $color-sep;
	}
}
.pagination {
	margin-top: 1.88em;
	margin-left: auto;
	margin-right: auto;
	&__wrap {
		text-align: center;
	}
	& > li > a, & > li > span {
		padding: 0.91em;
		font-family: MuseoSansCyrl;
		font-size: 1.38em;
		line-height: 1em;
		font-weight: 900;
		text-align: center;
		color: $color-text;
		border: none;
		background-color: transparent;
		@include radius(100%);
		@include transition(all 0.4s ease);
	}
	& > li {
		& > a {
			&:before {
				content: '';
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -1.59em;
				margin-top: -1.59em;
				width: 3.18em;
				height: 3.18em; 
				background-color: $color2;
				@include radius(100%);
				@include transition(all 0.4s ease);
				z-index: -1;
			}
			&:hover {
				color: $color2;
				background-color: inherit;
                
				&:before {
					/*opacity: 1;*/
				}
			}
		}
		&.active {
			& > a {
				position: relative;
				background-color: inherit;
                color: $color2;
				&:before {
					/*opacity: 1;*/
					
				}
				&:hover {
					background-color: inherit;
				}
			}
		}
	}
}
.sort-box {
	margin-top: 1em; 
	margin-bottom: 1.2em;
	clear: both;
	float: none;
	&__list {
		display: inline-block;
		font-family: MuseoSansCyrl;
		font-size: 1.13em;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.78;
		text-align: left;
		color: $color-text;
		a {
			margin-left: 0.17em;
			margin-right: 0.17em;
			color: $color-text;
			&:first-child {
				margin-left: 0.56em;
			}
			&.active {
                font-weight: 900;
			}
		}
		&_left {
			a {
				margin-left: 0.56em;
				margin-right: 0.56em;
				&:first-child {
					margin-left: 1.11em;
				}
			}
		}
		&_right {
			margin-left: 2em;
            a {
				margin-left: 0.1em;
				margin-right: 0.1em;
                color: $color-text;
                text-shadow: 0 0;
                &.active{
                    font-weight: 900;
                    background: none;
                    color: $color-text;
                    padding: 0 0 0 0;
                    margin: 0 0 0 0;
                }
				&:first-child {
					margin-left: 1.11em;
				}
			}
		}
	}
	&__opts {
		display: inline-block;
	}
	@media screen and (min-width: 1199px) {
		margin-top: 1.2em;
		margin-bottom: 0.75em;
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {
		&__list {
			font-size: 1.06em; // font-size: 17px;
			&_right {
				margin-left: 0; // margin-left: 0px;
				// float: right;
				margin-top: 0.59em; // margin-top: 10px;
				display: block;
			}
		}
	}
	@media screen and (max-width: 767px) {
		&__list {
			&_right {
				margin-left: 0; // margin-left: 0px;
				margin-top: 0.59em; // margin-top: 10px;
				display: block;
				a {
					&:first-child {
						margin-left: 1.11em; // margin-left: 20px;
					}
				}
			}
		}
		&__opts {
			display: block;
		}
	}
}
.catalog {
	padding-bottom: 0;
	&__content_top { }
	&__content_bottom {
        float: none;
        clear: both;
    }
	&__content_text {
		min-height: 157px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
	}
	&__label {
		position: absolute;
		top: 0.5em;
		left: 0;
		padding: 0.38em 1.67em;
		font-family: MuseoSansCyrl;
		font-size: 0.75em;
		font-weight: 300;
		letter-spacing: 0.42em;
		text-align: center;
		color: $color-bg;
		background-color: $color2;
	}
	&__item {
		/*@include flex_parent();
		-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
		-webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;*/
		min-height: 560px;
		margin-top: 0;
		padding-bottom: 35px;
		padding-top: 15px;
		padding-left: 5px;
		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			margin-left: 0px;
			width: 100%;
			height: 1px;
			background-color: $color-text;
		}
		&:after {
			content: '';
			position: absolute;
			top: 12px;
			left: -15px;
			margin-left: 0px;
			width: 1px;
			height: calc(100% - 24px);
			background-color: $color2;
		}
		&_best {
			max-width: none;
			padding-top: 40px;
			.product-prev__brand {
				a {
					color: $color1;
				}
			}
			.catalog__advice {
			}
			.catalog__img-box {
			}

			&-left {
                .catalog__content_top{
                    min-height: 283px;
                }
                .catalog__content_bottom{
                    float: none;
                    clear: both;

                }
			}
			&-right {
			}
		}
	}
	.product-prev__descr {
		padding-bottom: 0;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
	}
	.product-prev__price {
		padding: 5px 15px;
		min-width: 170px;
		margin-top: 17px;
		display: inline-block;
		font-family: MuseoSansCyrl;
		font-size: 18px;
		font-weight: 900;
		line-height: 1.78;
		text-align: left;
		color: $color-text;
		border: 1px solid $color2;
		&:hover {
			text-decoration: none;
			background-color: $color2;
			color: $color-bg;
		}
	}
	&__item-wrap {

		&_fst-in-row { // 1-e в ряду из трёх
			// margin-left: 0;
			.catalog__item:before {
				width: calc(100% + 30px);
				background-color: $color-text;
			}
			.catalog__item:after {
				content: none;
			}
		}
		&_last-in-row { // 3-е в ряду из трёх
			.catalog__item:before {
				margin-left: -30px;
				width: calc(100% + 30px);
				background-color: $color-text;
			}
		}
	}
	&__img-box {
		max-width: 15em;
		height: 15em;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	&__advice {
		position: relative;
		// margin-top: 2.08em; // margin-top: 50px;
		margin-bottom: 0.63em; // margin-bottom: 15px;
		padding-top: 5.17em; //124px;
		margin-top: 1.04em; // margin-top: 25px;
		font-family: MuseoSansCyrl;
		font-size: 1.45em; // font-size: 24px;
		font-weight: 900;
		line-height: 1.3;
		letter-spacing: 0.9px;
		text-align: left;
		color: $color1;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 2.71em 4.33em; // background-size: 65px 104px;
		background-position: top left;
		&_fashion {

			background-image: url('../img/fashion-girl.svg');
		}
		&_smart {
		    background-image: url('../img/smart-girl.svg');
		}
		&_classic {
		    background-image: url('../img/classic-girl.svg');
		}
	}
	&__half-item {
		position: relative;
		width: 50%;
		float: left;
		&_absolute {
			position: absolute;
			top: 30px;
            width: 60%;
			margin-top: 0;
            .product-prev__img-box{
                display: block;
            }
            img{
                width: 100%;
            }
		}
		&_right {
			right:0;
            
		}
		&_rel-right {
			padding-left: 50%;
			width: 100%;
            padding-top: 5px;
		}
	}
    .catalog__half-item_left{
        width: 50%;
        top: 40%;
        margin-top: -7em;
    }
	@media screen and (min-width: 1199px) {
		&__item {
			min-height: 545px;
		}
		.product-prev__brand {
			margin-bottom: 0.5em; // margin-bottom: 8px;
		}
		&__advice {
			margin-top: 0.83em; //20px to fs=24
		}
	}
	@media screen and (max-width: 991px) {
		&__item {
			min-height: 0;
			padding-left: 0;
		}
		&__half-item {
			&_rel-right {
				padding-left: calc(50% + 0.63em);
			}
		}
	}
	@media screen and (max-width: 767px) {
		&__item {
			&:before {
				content: none;
			}
			&:after {
				content: none;
			}
			&_best {
				max-width: 500px;
			}
            
		}
		&__item-wrap {
			&:before {
                display: none;
				content: '';
				position: absolute;
				top: 5px;
				right: -1px;
				margin-left: 0px;
				height: calc(100% - 40px);
				width: 1px;
				background-color: #00a99d;
			}
            &:nth-child(2n){
                &:before{
                    right: auto;
                    left: 1px;
                }
            }
		}
		&__img-box {
			max-width: 100%;
			height: auto;
		}
		&__content_text {
			height: auto;
		}
		&__half-item {
			width: auto;
			float: none;
			&_absolute {
				position: relative;
				top: auto;
				margin-top: 0;
			}
			&_right {
				right: auto;
			}
			&_rel-right {
				padding-left: 0;
				width: auto;
			}
		}
		&__advice {
			margin-top: 0;
		}
	}
}

/* filters stuff */
.filters {
	position: absolute;
	height: calc(100% - 1.88em);
    left: 15px; top: 0px;
    width: calc(100% - 15px);
	margin-top: 1.88em;
	padding: 1.8em 1.88em 2.19em 1.88em; // padding: 35px 30px 35px 30px;
	border: solid 3px $color2;
	&__wrap {
		padding-right: 0;
        position: relative;
        .product-prev__wrap{
            padding-top: 15px;
        }
	}
	&__box {
		margin-top: 2.2em; // margin-top: 40px;
		&:first-child {
			margin-top: 0;
		}
	}
	&__title {
		position: relative;
		display: block;
		margin-bottom: 1.11em; // margin-bottom: 20px;
		margin-right: 1.39em; // margin-right: 25px;
		padding: 0.56em 1.67em 0.72em 0em; // padding: 10px 30px 13px 0;
		width: auto;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: MuseoSansCyrl;
	    font-size: 1.13em; // font-size: 18px;
	    font-weight: 900;
	    line-height: 1.78;
	    letter-spacing: 0.9px;
	    text-align: left;
	    color: $color-text;
		text-decoration: none;
		border-bottom: 1px solid $color-text;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -0.78em;
			right: 0.28em;
			border: solid $color-text;
		    border-width: 0 0.11em 0.11em 0;
		    display: inline-block;
		    padding: 0.37em;
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	        -webkit-transform: rotate(45deg);
			@include transition(all 0.4s ease);
		}
		&[aria-expanded="true"] {
			&:after {
				margin-top: -0.39em; // margin-top: -7px;
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
		        -webkit-transform: rotate(-135deg);
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
	&__collapse {
	}
	&__list-check {

	}
	.collapse.in {
		padding: 0;
	}
	@media screen and (min-width: 1199px) {
		&__title {
			padding-left: 0;
			padding-bottom: 0.56em; //13px;
			margin-bottom: 1em; // margin-bottom: 18px;
		}
		.collapse.in {
			padding-top: 1px;
		}
	}
	@media screen and (min-width: 768px) {
		&__parent {
			@include flex_parent();
			@include flex_align(stretch);
		}
	}
	@media screen and (max-width: 1099px) {
		&__title {
			margin-right: 0.31em; // margin-right: 5px;
			&:after {
				padding: 0.31em; // padding: 5px;
				margin-top: -0.63em; // margin-top: -10px;
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {
		padding: 1.25em 1.25em 1.25em 1.25em; // padding: 20px 20px 20px 20px;
	}
	@media screen and (max-width: 767px) {
		&__box {
			margin-top: 1.25em; // margin-top: 20px;
		}
		&__wrap {
			padding-right: 15px;
		}
	}
}
.list-check {
	list-style: none;
	&__item {
		margin: 0.81em 0; // margin: 13px 0;
	}
	&__label {
		font-family: MuseoSansCyrl;
		font-size: 1em; // font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.5;
		letter-spacing: 1px;
		text-align: left;
		color: $color-text;
	}
	@media screen and (min-width: 1199px) {
		&__item {
			margin: 0.45em 0;
		}
	}
}
.label-text {
	padding-left: 0.5em;
    cursor: pointer;
}
.jq-checkbox {
	width: 17px;
	height: 17px;
	border: 1px solid $color-text;
	@include radius(0);
	background-color: $color-bg;
	&__div {
		opacity: 0;
		width: 7px;
	    height: 7px;
	    margin: 4px 0 0 4px;
		background-color: $color-text;
	}
	&.checked {
		.jq-checkbox__div {
			opacity: 1;
			width: 7px;
		    height: 7px;
		    margin: 4px 0 0 4px;
			background-color: $color-text;
		}
	}
}
/* eof filters stuff */
.right-content {
	margin-top: 1.88em; // margin-top: 30px;
}
.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0.63em; // margin-bottom: 10px;
	background-color: transparent;
	&__item {}
	a, .active {
		font-family: MuseoSansCyrl;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.83;
		letter-spacing: 0.8px;
		text-align: left;
		color: $color-text;
	}
	& > li + li:before {
		color: $color-text;
	}
}
.descr-intro {
	@include flex_parent();
	@include flex_align(center);
	margin-bottom: 1.6em;
	&__icon {
		margin-right: 2.38em;
	}
	&__text {
		font-family: MuseoSansCyrl;
		font-size: 1.75em;
		font-weight: 900;
		line-height: 1.32;
		text-align: left;
		color: $color-text;
        padding-top: 16px;
	}
}
.row_small{
    margin-left: -8px;
    margin-right: -8px;
    > div{
        padding-left: 8px;
        padding-right: 8px;
    }
}
.product-descr {
	&__text {
		font-family: MuseoSansCyrl;
		font-size: 1em;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.38;
		letter-spacing: 1px;
		text-align: left;
		color: $color-text;
	}
	&__bages {
		position: relative;
		margin-top: 1.25em;
		margin-bottom: 0.6em;
		line-height: 1;
		color: $color-text;
	}
}
.bages {
	&__item {
		font-size: 2em;
		margin-right: 0.5em ;
		&_closer {
			margin-right: 0.6em ;
		}
	}
}
.accordion {
	margin-bottom: 3.13em;
	border-top: 1px solid $color-text;
	&__box {
		margin-top: 0em;
		&:first-child {
			margin-top: 0;
		}
	}
	&__title {
		position: relative;
		display: block;
		margin-bottom: 0em;
		margin-right: 0em;
		padding: 0.62em 3.5em 0.62em 0em; 
		width: auto;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: MuseoSansCyrl;
	    font-size: 1.13em; 
	    font-weight: 700;
	    line-height: 1.78;
	    letter-spacing: 0;
	    text-align: left;
	    color: $color-text;
		border-bottom: 1px solid $color-text;
        &:hover{
            color: #00a99d;
        }
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 2.06em;
		    display: inline-block;
			padding: 0.31em; 
			margin-top: -0.5em;
			border: solid $color-text;
		    border-width: 0 0.11em 0.11em 0;
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	        -webkit-transform: rotate(45deg);
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -ms-transition: all 0.3s;
		}
		&[aria-expanded="true"] {
			&:after {
				margin-top: -0.25em;
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
		        -webkit-transform: rotate(-135deg);
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
	&__collapse { }
	.collapse.in {
		padding: 0;
	}
	@media screen and (min-width: 768px) {  }
	@media screen and (max-width: 1099px) {
		&__title {
			&:after {}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 991px) {  }
	@media screen and (max-width: 767px) {
		&__box {
			margin-top: 1.25em;
		}
	}
}
.simple-descr {
	margin-top: 3.13em; 
    h2{
        padding-bottom: 0.5em;
    }
}
/* tabs stuff */
.nav-tabs {
	border-top: 1px solid $color-text;
	border-bottom: none;padding-top: 5px;
	& > li {
		& > a {
			padding: 0.38em 0.62em 0.38em 0;	// padding: 5px 8px 5px 0;
			font-family: MuseoSansCyrl;
			font-size: 0.81em; // font-size: 13px;
			font-weight: 500;
			line-height: 2.46;
			letter-spacing: 1.6px;
			text-align: left;
			color: $color-text;
			border-color: transparent;
			&:hover {
				text-decoration: underline;
			  	background-color: inherit;
   				border-color: transparent;
		   	}
	   	}
		&.active {
			& > a {
				color: $color-text;
				border-color: transparent;
				background-color: inherit;
				font-weight: 900;
			}
			& > a:hover, & > a:focus {
				color: $color-text;
				background-color: inherit;
    			border-color: transparent;
			}
		}
	}
}
.tab-content {
	margin-top: 1.1em;
	margin-bottom: 1.88em;
    
}
.tab-pane {
	font-family: MuseoSansCyrl;
	font-size: 1em; // font-size: 16px;
	font-weight: 300;
	text-shadow: 0 0;
	line-height: 1.38;
	letter-spacing: 1px;
	text-align: left;
	color: $color-text;
    p{
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}
/* end tabs stuff */
.features {
	margin-top: 3.13em;
    h2{
        padding-bottom: 0.5em;
    }
	&__tab-titles {
		a {	}
	}
}
.btn {
	&.btn-default {
		min-width: 14.44em;
		position: relative;
		margin: 0.56em 0.33em;
		padding-left: 1.11em;
		padding-right: 1.11em;	
		padding-top: 0.72em;
		padding-bottom: 0.61em;
		text-decoration: none;
		text-transform: uppercase;
		font-family: MuseoSansCyrl;
		font-size: 1.13em; 
		font-weight: 900;
		line-height: 1;
		text-align: center;
		color: $color-text;
		background-color: $color-bg;
		border: solid 1px $color2;
		@include radius(0);
		@include transition(all 0.4s ease);
		&:hover, &.active {
			background-color: $color2;
			color: $color-bg;
		}
	}
	&.btn_invert {
		background-color: $color2;
		color: $color-bg;
		&:hover, &.active {
			color: $color-text;
			background-color: $color-bg;
			border: solid 1px $color2;
		}
	}
	&_cart {
		position: relative;
		width: 100%;
		margin: 0;
		padding-left: 0.94em;
		padding-right: 0.47em;
		padding-top: 0.41em;
		padding-bottom: 0.41em;
		text-decoration: none;
		text-transform: none;
		font-family: MuseoSansCyrl;
		font-size: 1.06em;
		font-weight: 900;
		line-height: 1.78;
		text-align: left;
		color: $color-bg;
		@include radius(0);
		@include transition(all 0.4s ease);
		background-color: $color2;
		.icon-bucket {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: -0.2em;
				left: -0.6em; 
				width: 2px;
				height: calc(100% + 0.41em);
				background-color: #7ed3cc;
			}
		}
		&:hover, &.active {
			color: $color-text;
			background-color: $color-bg;
			border: solid 1px $color2;
			.icon-bucket {
				background-image: url('../img/bucket_blue.svg');
			}
		}
	}
	&__icon {
		float: right;
		margin-right: 0;
	}
	&.btn_no-x-margins {
		margin-left: 0;
		margin-right: 0;
	}
	&.btn_no-margins {
		margin: 0;
	}
}
.rating {
	&__star {
		margin-right: 0.13em; // margin-right: 2px;
		font-size: 1em; // font-size: 16px;
	}
}
.reviews {
	margin-top: 1.11em; // margin-top: 20px;
	padding-bottom: 1.88em; // padding-bottom: 30px;
	text-align: center;
	&__item {
		margin-top: 0.75em; // margin-top: 12px;
		margin-bottom: 1.25em; // margin-bottom: 20px;
		padding-right: 1.88em; // padding-right: 30px;
		@include flex_parent();
		@include flex_wrap(wrap);
		@include flex_align(center);
		-webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
		text-align: left;
		border-bottom: 1px solid #dcdcdc;
	}
	&__ava {
		display: inline-block;
		width: 2.88em; // width: 46px;
		height: 2.88em; // height: 46px;
		margin-right: 1.13em; // margin-right: 18px;
		@include radius(100%);
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	&__name {
		display: inline-block;
		font-family: BlissPro;
		font-size: 1.13em; // font-size: 18px;
		text-align: left;
		color: $color-text;
	}
	&__rating {}
	&__text {
		margin-top: 1.56em; // margin-top: 25px;
		margin-bottom: 1.81em; // margin-bottom: 29px;
		width: 100%;
		font-family: MuseoSansCyrl;
		font-size: 1em; // font-size: 16px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.38;
		letter-spacing: 1px;
		text-align: left;
		color: $color-text;
	}
}
.questions {
	margin-top: 2.38em; // margin-top: 38px;
	&__expert {
		text-decoration: none;
		color: $color2;
		&:hover {
			color: $color2;
			text-decoration: underline;
		}
	}
	&__text {
		padding-right: 2.06em; //33px
	}
	&__form {
		padding-right: 2.06em; //33px
	}
}
.answered {
	@include flex_parent();
	@include flex_wrap(wrap);
	@include flex_align(center);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: left;
	margin-top: 0.63em; // margin-top: 10px;
	margin-bottom: 1.38em; // margin-bottom: 22px;
	padding-top: 1.25em; // padding-top: 20px;
	padding-bottom: 0.75em; // padding-bottom: 12px;
	border-bottom: 1px solid #dcdcdc;
	&:first-child {
		padding-bottom: 1.25em; // padding-bottom: 20px;
		margin-bottom: 1.56em; // margin-bottom: 25px;
	}
	&__autor {
		margin-bottom: 1.39em; // margin-bottom: 25px;
		font-family: BlissPro;
		font-size: 1.13em; // font-size: 18px;
		text-align: left;
		color: $color-text;
	}
	&__date {
		margin-bottom: 1.39em; // margin-bottom: 25px;
		font-family: BlissPro;
		font-size: 1.13em; // font-size: 18px;
		text-align: right;
		color: #dcdcdc;
	}
	&__label {
		width: 100%;
		text-transform: uppercase;
		font-family: MuseoSansCyrl;
		font-size: 0.76em; // font-size: 13px;
		font-weight: 500;
		line-height: 2.46;
		letter-spacing: 1.6px;
		text-align: left;
		color: $color-text;
	}
	&__text {
		width: 100%;
		margin-bottom: 0.81em; // margin-bottom: 13px;
		font-family: MuseoSansCyrl;
	    font-size: 1em; // font-size: 16px;
	    font-weight: 300;
		text-shadow: 0 0;
	    line-height: 1.38;
	    letter-spacing: 1px;
	    text-align: left;
	    color: $color-text;
	}
}
.form {
	margin-top: 2.5em; // margin-top: 40px;
	&-group {
		@include flex_parent();
		@include flex_wrap(wrap);
		@include flex_align(center);
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		label {
			display: inline-block;
			width: 18%;
			font-family: MuseoSansCyrl;
		    font-size: 1em; // font-size: 16px;
		    font-weight: 300;
			text-shadow: 0 0;
		    line-height: 1.38;
		    letter-spacing: 1px;
		    text-align: left;
		    color: $color-text;
		}
	}
	&-control {
		width: 82%;
		height: 2.75em; // height: 44px;
		font-size: 1em; // font-size: 16px;
		background-color: $color-bg;
		border: solid 1px $color2;
		@include radius(0);
		@include shadow(none);
	}
	.btn {
		margin-left: 18%;
		margin-top: 0;
		width: 12.22em; // width: 220px;
		min-width: 12.22em; // width: 220px;
	}
}
.info-card {
	padding: 272px 1.25em 0.8em 2.5em;
	margin-top: -15em; //margin-top: -480/2px;
	background-color: rgba(0, 169, 157, 0.25);
	&__wrap {
		margin-left: 6.56em; // margin-left: 105px;
	}
	&__title {
		margin-top: 1.15em; // margin-top: 15px;
		margin-bottom: 0.92em; // margin-bottom: 12px;
		font-family: MuseoSansCyrl;
		overflow: hidden;
		text-overflow: ellipsis;
	    font-size: 0.81em;  // font-size: 13px;
	    font-weight: 500;
	    line-height: 1.54em;  // line-height: 20px;
	    letter-spacing: 1.6px;
	    text-align: left;
	    color: $color-text;
		&:first-child {
			margin-top: 1.15em; // margin-top: 15px;
		}
		.icon {
			font-size: 1.69em; // font-size: 22px;
			margin-right: 0.55em; //margin-right: 12px;
			vertical-align: sub;
		}
	}
	&__list {
		margin-bottom: 1.88em; // margin-bottom: 30px;
		font-family: MuseoSansCyrl;
		font-size: 0.88em; // font-size: 14px;
		font-weight: 300;
		text-shadow: 0 0;
		line-height: 1.8;
		text-align: left;
		color: $color-text;
		p {
            letter-spacing: 0px;
            line-height: 1.5;
		}
	}
	&__column {
		display: inline-block;
		width: 49%;
		vertical-align: top;
		padding-right: 0.94em; // padding-right: 15px;
	}
	&__discount {
		margin-right: 2.5em; // margin-right: 40px;
		padding-top: 0.13em; // padding-top: 2px;
		font-family: MuseoSansCyrl;
		font-size: 1em; // font-size: 16px;
		font-weight: bold;
		line-height: 1.25;
		text-align: left;
		color: $color-text;
		
        a{
            border-bottom: dashed 1px $color-text;
            color: $color-text;
            text-decoration: none;
            &:hover{
                border-bottom-color: transparent
            }
        }
	}
	@media screen and (min-width: 1200px) {
		&__discount {
			margin-right: 2.5em;
		}
	}
	@media screen and (max-width: 1050px) {
		padding-top: 14.88em;
		margin-top: -13em;
		&__discount {
			margin-right: 0;
		}
	}
	@media screen and (max-width: 991px){
		padding-left: 1.3em;
		padding-right: 0.75em;
		&__wrap {
			margin-left: 4.69em; // margin-left: 75px;
		}
	}
	@media screen and (max-width: 840px){
		padding-top: 12.88em;
		margin-top: -11em;
	}
	@media screen and (max-width: 767px){
		padding-top: 3em;
    	margin-top: 2em;
		&__wrap {
			margin-left: 0;
		}
		&__discount {
			max-width: 10.63em;
		}
		.btn_cart {
			max-width: 14.29em;
		}
	}
    &__descr{
        margin: -9px 0 0 0;
        .info-card__column{
            width: 52%;   
            padding-right: 2%;
        }
        .info-card__column+.info-card__column{
            width: 47%;
            padding-right: 0px;
        }
    }
}
.product-slider {
	position: relative;
	max-width: 100%;
	margin-top: 1.56em; 
	&-for {
        width: 480px;
        height: 480px;
		&__item {
			width: 480px;
            height: 480px;
			background-color: $color-bg;
	  		border: solid 0.19em $color2;
			@include radius(100%);
			overflow: hidden;
            padding-top: 0;
			background-size:cover;
		  background-repeat:no-repeat;
		  background-position:center center;
            img {
            	width: 100%;
            }
		}
	}
	img, iframe {
		max-width: 100%;
		max-height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&-for{
		// img{ opacity:0}
	}	
	&-nav {
		width: 4.38em;
		position: absolute;
		left: -6.25em;
		top: 0.63em;
		padding-top: 2.38em;
		padding-bottom: 2.38em;
		&__item {
			max-height: 4.38em;
			margin-top: 0.5em;	
			margin-bottom: 1em;	
		}
	}
	@media screen and (min-width: 1200px){
		&-nav {
			width: 5em; // width: 80px;
			&__item {
				height: 5em; // height: 80px;
			}
		}
	}
	@media screen and (max-width: 991px){
		&-nav {
			left: -4.69em; // left: -75px;
		}
	}
	@media screen and (max-width: 767px) {
		margin-top: 2em;
		&-for {
			width: calc(100% - 5em); // -80px
			max-width: 30em;	// width: 480px;
			margin-left: auto;
			margin-right: auto;
			&__item {
				width: auto;
			}
		}
		&-nav {
			position: relative;
			top: auto;
			left: auto;
			float: left;
		}
	}
}

.colors-slider {
	width: calc(100% - 3.13em);
	float: right;
	margin-top: 0.31em;
	margin-bottom: 0;
	padding-left: 2.5em;
	padding-right: 2.5em;
	&__item {
		display: block;
		width: 3.75em;
		height: 3.75em;
		margin: 0.63em 0.44em;
		@include radius(100%);
		@include transition(all 0.4s ease);
		img {
			width: 100%;
			max-width: 100%;
			@include radius(100%);
		}
	}
	&__wrap {
        padding-top: 5px;
        padding-bottom: 0;
        margin-bottom: -4px;
    }
	&__title {
		display: inline-block;
		vertical-align: middle;
		height: 4.3em;
		line-height: 4.8em;
		margin-top: 0.77em;
		margin-bottom:0;
		font-family: MuseoSansCyrl;
		font-size: 0.81em;
		font-weight: 500;
		letter-spacing: 1.6px;
		text-align: left;
		color: $color-text;
	}
	@media screen and (max-width: 767px) {
		&__item {
			height:auto;
		}
	}
}
a:focus, a:active{
    text-decoration: none!important;
}
.product-slider-nav__item img{
    cursor: pointer;
    border: 2px solid #ccc;;
}
.btn__text{
    float: left;
}

.button-up{
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 39px; height: 39px;
    background: url('../img/UpArrow.svg') no-repeat left top;
}

@media screen and (max-width: 1080px) {
    .post-preview__title{
        font-size: 1.05em;
    }
    
}
.info-card__column{
        margin-right: -4px;
    }
@media screen and (max-width: 1300px) {
    .product-slider-for__item{
        height: auto;
    }
    .product-slider-for{
        height: auto;
        width: 100%;
    }
    .info-card__discount{
        margin-right: 0px;
    }
    
}
@media screen and (max-width: 1199px) {
    header .navbar-collapse{
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        background: #FFF;
        border: 3px solid #f6a623!important;
        padding: 0 15px 15px 15px;
        margin: 2px 0 0 0!important;
    }
}



@media screen and (max-width: 991px) {
    
    .catalog .product-prev__price{
        min-width: 140px;
    }
    .post-preview__title{
        font-size: 1.1em;
    }
    .post-preview_main .post-preview__title{
        font-size: 1.8em;
    }
    .product-prev__title{
        font-size: 1.5em;
    }
    .posts{
        padding-top: 30px;
        margin-top: 0px;
    }
    .product-prev__img-box img{
        max-width: 90%;
    }
    .footer__logo-box{
        padding-left: 0px;
    }
    .footer__content{
        padding-top: 25px;
    }
    .brands__text{
        font-size: 15px;
    }
    .filters__wrap{
        padding-right: 15px;
    }
    .filters__parent{
        display: block;
    }
    .info-card__discount a{
        font-size: 0.9em;
    }
    .features h2{
        font-size: 1.8em;
    }
    .product-prev__img-box{
        height: 16em;
    }
    .product-prev_types .product-prev__img-box{
        height: 19em;
    }
    .product-prev__wrap{
        padding-top: 0px;
        margin-top: -15px;
    }
    .post-preview__img-box_has-video:after{
        background-size: 3.25em 3.25em;
    }
    .filters{
        position: relative;
        left: auto;
        width: 100%;
    }
    .sort-box{
        padding-bottom: 20px;
    }
    
    .catalog__item{
        min-height: 0px;
    }
    
    .catalog__content_bottom.catalog__half-item_rel-right {
        float: none;
        clear: both;
        display: block;
    }
    .catalog__half-item.catalog__half-item_rel-right{
        float: none;
        clear: both;
        display: block;
    }
}

@media screen and (min-width: 480px) and (max-width:767px) {
    .types{
        .col-xs-12{
            width: 50%;
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
        }
        .product-prev__img-box{
            height: 20em;
        }
    }
}

.catalog-mobile-img{
   display: none;
}

@media screen and (max-width: 767px) {

	 .advices__icon{
        bottom: -1px;
    }
    .post-preview_marg-bot{
        margin-top: 0px;
    }
    .post-preview_less-marg-top{
        margin-top: 0px;
    }
    .advices,
    .posts,
    .section_separated{
        .row{
            margin-left: -8px;
            margin-right: -8px;
            > div{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    .post-preview__about{
        margin-top: 10px;
    }
    .post-preview__autors-name{
        font-size: 0.9em;
    }
    .catalog__content_text{
        min-height: 0px
    }
    .catalog .catalog__half-item_left{
        width: auto;
        top: 0px;
        margin-top: 0px;
    }
    .catalog__half-item_absolute img{
        width: auto;
    }
    
    .product-descr__bages{
        padding-bottom: 15px;
    }
    .accordion__box{
        margin-top: 0px;
    }
    .accordion{
        margin-bottom: 0px;
    }
    .questions__form{
        padding-right: 0px;
    }
    .product-slider-nav{
        z-index: 1;
    }
    .product-prev_types .product-prev__img-box img{
        margin: 0 auto;
    }
    .types__item .product-prev__img-box{
        margin-bottom: 15px;
    }
    
    .types{
        .product-prev__img-box{
            height: 210px;
            display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-direction:column;-webkit-flex-direction:column;justify-content:center;-webkit-justify-content:center; align-content:center;-webkit-align-content:center;
            
        }
    }
    .product-prev__img-box{
        height: auto;
        margin-bottom: 15px;
    }
    .post-preview__tag{
        margin-top: 2em
    }
    .catalog__item_best-left .catalog__content_top{
        min-height: 0px;
    }
    .sort-box{
        padding-bottom: 20px;
    }
    .product-prev__wrap{
        display: block;
    }
    .latest,
    .catalog,
    .product-prev__wrap{
        .col-xs-12{
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
            width: 50%;
        }
    }
    
    .experts__slider{
        margin-left: 2.2em;
        margin-right: 2.2em;
    }
    .experts__item{
        margin-left: 1em;
        margin-right: 1em;
    }
    .experts__img-box img{
        display: block;
        max-width: 100%;
        border-radius: 50%;
    }
    .experts__name{
        font-size: 15px;
        line-height: 1.1;
    }
    
    .catalog-mobile-img{
        display: block;
        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    
    .js-video-block{
        padding-top: 30px;
    }
    .info-card__wrap{
        padding-bottom: 15px;
        margin-top: 60px;
    }

}

@media screen and (max-width: 500px){
    .banner__text,
    .banner__title,
    .banner__descr,
    .banner__tag{
        text-align: center;
    }
    .banner__tag{
        padding-top: 15px;
        
    }
}
@media screen and (max-width: 480px){
    p,
    .reviews__text,
    .product-prev__descr,
    .advices__text,
    .advices__link{
        font-size: 1.1em;
    }
    
    .post-preview__img-box_has-video:after {
        background-size: 3em 3em;
    }
    .brands__text{
        font-size: 13px;
    }
    .brands__slider{
        padding-left: 2em;
        padding-right: 2em;
    }
    
    .advices__bubble{
        left: 70px;
        top: 40px;
        width: calc(100% - 70px);
    }
    
}
_:-ms-fullscreen, :root .banner {
	padding-top: 3.13em;
}
