// main: ../style.scss

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.logo-box__text{
        font-size: 0.85em;
    }
footer{
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;
    -webkit-order: 3;
    .logo-box__text{
        font-size: 0.85em
    }
}
.footer {
	//only prefix
	&__content {
		border: solid 7px $color2;
		margin-bottom: 1em;
		margin-top: 3.2em;
		padding: 40px 30px 13px;
	}
	&__logo-box {
		padding-left: 20px;
		padding-top: 0;
        margin-top: 5px;
	}
    

	@media screen and (max-width: 767px) {
		&__logo-box {
			text-align: center;
			padding-left: 0;
			padding-right: 30px;
			margin-bottom: 16px;
		}
	}
}
.address {
    display: block;
	position: relative;
	padding-left: 36px;
	margin-bottom: 30px;
	font-family: MuseoSansCyrl;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.75;
	text-align: left;
	color: $color-text;
	&__icon {
		position: absolute;
		top: 4px;
		left: 0;
		font-size: 29px;
	}
    &:first-child{
        margin-bottom: 20px;
    }
	@media screen and (max-width: 767px) {
		width: 200px;
		left: 18px;
		// margin-bottom: 16px;
		margin-top: 16px;
		margin-left: auto;
		margin-right: auto;
	}
}
.sun-nav {
	position: relative;
	margin-bottom: 0.63em;//10px
	&__list {
		list-style: none;
	}
	&__item {

	}
	&__link {
		font-family: MuseoSansCyrl;
		font-size: 12px;
		font-weight: 700;
		line-height: 2.5;
		text-align: left;
		color: $color-text;
	}
	@media screen and (max-width: 767px) {
		// margin-bottom: 1.25em;//20px
	}
}
.copyright {
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 14px;
	font-family: MuseoSansCyrl;
	font-size: 16px;
	font-weight: 300;
	text-shadow: 0 0;
	line-height: 1.38;
	letter-spacing: 1px;
	text-align: left;
	color: $color-text;
	@media screen and (max-width: 767px) {
		padding-left: 0;
		text-align: center;
	}
}
.payments {
	margin-bottom: 35px;
	text-align: center;
    img{
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px 0 5px;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}
