// main: ../style.scss

/* bootstrap style rebind */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: inherit;
	color: $color2;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: inherit;
	color: $color2;
	text-decoration: none;
}
.container-fluid > .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: none;
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
        position: relative;
        padding-left: 45px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
		padding-bottom: 20px;
    }
    .navbar-default.main__nav .navbar-toggle{
        position: absolute;
        left: -10px; top: -5px;
    }
    
}

/* end bootstrap style rebind */
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	width:100%;
	min-width: $min-width;
	text-align:left;
	order: 1;
    -webkit-order: 1;
}
.header {
	//only prefix
	&__content {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 15px; //container-fluid padding
			width: calc(100% - 30px); //container-fluids
			height: 0.19em; // height: 3px;
			background-color: $color-text;
			
		}
		
		&_no-sep {
			&:after {
				content: none;
			}
		}
	}
}
.logo-box {
	display: block;
	padding-top: 1.25em; 
	padding-bottom: 1.13em;
	&:hover {
		text-decoration: none;
	}
	&__text {
		font-family: $title-font-family;
		@include fontw(0.75em,100%,400);
		letter-spacing: 0.35em;		
		color: #000;
		padding-left: 0.13em; 
		text-decoration: none;
		
	}
	&__icon {
		position: relative;
		display: inline-block;
		margin-top: -0.21em;
		font-size: 3em;
	}
	@media screen and (min-width: 1200px) {
		&__icon {
			font-size: 3.19em;
		}
	}
}

.cart {
	position: relative;
	display: block;
	float: right;
	width: 35px;
	margin-right: 0px;
	margin-left: 0.63em;
	padding-left: 0em; 
	padding-right: 0em;
	&.dropdown {
		&:hover, &.active {
			.dropdown-menu {
				opacity: 1;
				top: auto;
			}
		}
	}
	.dropdown-toggle {
		display: block;		
		width: 29px;		
		height: 29px;
		background-image: url('../img/bucket.svg');
		background-repeat: no-repeat;
		background-position: right center;
		background-size: contain;
        margin-top: -1px;
	}
	.dropdown-menu {
		display: block;
		top: -999px;
		opacity: 0;
		left: auto;
		right: 0;
		padding: 6px 10px 10px;
		font-family: MuseoSansCyrl;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		text-align: left;
		color: $color-text;
		@include transition(all 0.4s ease 0.2s);
		li {
			margin-top: 10px;
			margin-bottom: 5px;
			a {
				padding-left: 0;
				padding-right: 0;
				&:hover, &:focus, &.active {
					background-color: inherit;
					text-decoration: underline;
				}
			}
		}
	}
	@media screen and (min-width: 1200px) {
		margin-left: 0;
	}
	@media screen and (min-width: 768px) {
		.dropdown-toggle {
			margin-right: 0;
			width: auto;
		}
	}
}
.location {
	position: relative;
	display: block;
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	&.dropdown {
		&:hover, &.active {
			.dropdown-menu {
				opacity: 1;
				top: auto;
			}
		}
	}
	.dropdown-toggle {
		display: block;
		min-width: 150px;
		font-family: MuseoSansCyrl;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		text-align: left;
		color: $color-text;
	}
	.dropdown-menu {
		display: block;
		top: -999px;
		opacity: 0;
		left: auto;
		right: 0;
		padding: 6px 10px 10px;
		font-family: MuseoSansCyrl;
		max-width: 150px;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 0.8px;
		text-transform: uppercase;
		text-align: left;
		color: $color-text;
		@include transition(all 0.4s ease 0.2s);
		li {
			margin-top: 10px;
			margin-bottom: 5px;
			a {
				width: inherit;
				padding: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				&:hover, &:focus, &.active {
					background-color: inherit;
					text-decoration: underline;
				}
			}
		}
	}
	@media screen and (min-width: 1200px) {
		margin-right: 0;
		margin-left: 1.25em; //margin-left: 20px;
	}
}
.navbar {
	&__location {
        .caret{
            width: 7px;
            height: 7px;
            border: none;
            margin-top: -5px;
            margin-left: 2px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            @include rotate(45deg);
        }
	}
	&__logo-box {
		max-width: 12.5em; // max-width: 200px;
		.logo-box__icon {
			// font-size: 3em; // font-size: 48px;
		}
	}
	&__phones {
		position: relative;
		float: left;
		max-width: 10em; // max-width: 160px;
		margin-left: 0.63em; // margin-left: 10px;
		padding-top: 5px;
		font-family: MuseoSansCyrl;
		font-size: 1em; // font-size: 16px;
		font-weight: 500;
		letter-spacing: 1px;
		text-align: center;
		color: $color-text;
		a {
			display: block;
			padding-top: 2px;
			padding-bottom: 2px;
			color: $color-text;
		}
	}
	&__cart {
		position: relative;
		float: right;
		width: 35px;
        a{
            text-align: right;
        }
	}

	//bootstrap stuff
	&-nav {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
	&-collapse {
		&.in {
			overflow: inherit;
		}
	}
	&-default.main__nav {
		background-color: $color-bg;
		border: none;
		.container-fluid {}
		.navbar-nav { //ul
			padding-top: 10px;
			padding-bottom: 10px;
			& > li > a {
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 0.62em;	// padding-left: 8px;
				padding-right: 0.62em;	// padding-right: 8px;
				font-family: MuseoSansCyrl;
				font-size: 0.81em; // font-size: 13px;
				font-weight: 500;
				letter-spacing: 0.9px;
				text-align: left;
				color: $color-text;
				&:hover {
					color: $color2;
				}
			}
			& > li.active > a {
				color: $color2;
				text-decoration: none;
			}
		}
		.navbar-toggle {
			margin-right: 0;
			margin-top: 14px;
			border: none;
			background-color: transparent !important;
			.icon-bar {
				background-color: $color-text;
				&:nth-child(odd) {
					width: 70%;
				}
			}
		}
		.navbar-toggle:hover, .navbar-toggle:focus {
			background-color: none !important;
		}
	}
	//eof bootstrab stuff
	@media screen and (min-width: 1200px) {
		&-default.main__nav {
			.container-fluid {
				padding-top: 5px;
				@include flex_parent();
				@include flex_align(center);
				-webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		        justify-content: space-between;
			}
			.navbar-nav { //ul
				max-width: 36.25em; //580px
				margin-left: 0.63em;	// margin-left: 10px;
			}
		}
		&-collapse {
			// width: calc(100% - 200px);
			width: auto;
			padding-right: 0;
			padding-top: 3px;
		}
		&__phones {
			margin-left: 1.25em;	// margin-left: 20px;
		}

		&__location {
			margin-top: 3px;
		}
		&__cart {
			width: 27px;
			margin-bottom: 4px;
			margin-top: 3px;
		}
		&__logo-box {
			padding-top: 1.1em;
		}
	}
	@media screen and (max-width: 1200px) {
		&__logo-box {
			// max-width: 50%;
			float: left;
		}
		&__phones {
			margin-left: 0;
            a{
                margin: 0 0 5px 0;
            }
		}
		&-nav {
			max-width: none;
			margin-left: 0;
			margin-right: 0;
		}
		&__cart {
			position: absolute;
			right: 10px;
			top: 17px;
		}
		&__location {
			position: absolute;
			right: 55px;
    		top: 28px;
			margin-right: 0;
		}
		&-default.main__nav {
			margin-bottom: 5px;
			.navbar-nav > li > a  {
				padding-right: 0;
				padding-left: 0;
			}
		}
		&-collapse {
			padding-bottom: 15px;
		}
		&-header {
			width: 100%;
		}
	}
    &-default.main__nav {
        .navbar-toggle {
            margin-top: 27px;
        }
    }
	@media screen and (min-width: 768px) and (max-width: 1200px) {
		&-default.main__nav {
			.navbar-toggle {
				margin-top: 27px;
			}
		}
		&__location {
			top: 35px;
		}
		&__cart {
			top: 22px;
			right: 20px;
		}
	}
	@media screen and (max-width: 480px) {
		&__logo-box {
			
		}
		&-header {
			padding-bottom: 30px;
		}
		&__location {
			position: absolute;
			right: 15px;
			top: 70px;
			margin-right: 0;
		}
	}
}

.mob-phone{
    display: none;
    position: absolute;
    left: 0px; top: 67px;
    font-family: MuseoSansCyrl;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    a{
        font-family: MuseoSansCyrl;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 1px;
        color: #000;
        display: block;
        margin: 3px 0 3px 0;
    }
}
@media screen and (min-width: 1200px) {

}
@media screen and (max-width: 1199px) {

}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    .navbar-default.main__nav .navbar-toggle{
        margin-top: 20px;
    }
}
@media screen and (min-width: 595px) and (max-width: 1200px) {
    .mob-phone{
        display: block;
        left: 18em;
        top: 20px;
    }
}
@media screen and (max-width: 480px) {
    .mob-phone{
        display: block;
        a+a{
            display: none;
        }
    }
}
