@import "../base/_reset";
@import "../base/_fonts";

/* example mixins */
.all {
	@include transition(all 0.4s ease);
	margin-left: auto;
	margin-right: auto;
}
.border-radius{
	@include radius(10px);
}
.rotate{
	@include rotate(90deg);
}
.scale{
	@include scale(0.5);
}
.shadow{
	@include shadow(0 5px 5px 0 rgba(0,0,0,0.5));
}
.button{
	@include button(
		#000,1px,#f0f0f0,25px,16px,19px,40px,20px
	);
}
.font{
	@include font(14px,18px,#000);
	@include fontw(14px,18px,300);
}
.center_transform{
	@include center_transform();
}
.verrical_center_transform{
	@include verrical_center_transform();
}
.gradient{
	@include gradient(left, right, rgba(0,0,0,1), rgba(255,255,255,1));
}
.flex_parent{
	@include flex_parent();
	@include flex_wrap(wrap);
	@include flex_align(center);
	@include flex_align(flex-end);
	@include flex_align(stretch);
}
.flex_child{
	@include flex_child(0, 1, auto);
}

/* example mixins */
